[2011-12-09 13:59] gingergeeks opened #1 "Complete class based method"
The original pyslurm was a 30 minute hack to access the C API in a rush but meant I had to wrap C pointer in order to pass being python functions. By moving to a class based access to the C functions we keep the C data within the class and we can remove the wrapper functions. However I will lose the exact python to C function name mapping, I feel that is not required as generally we only want to g

[2011-12-10 14:28] gingergeeks opened #2 "Blue Gene detection type"
Need to code in some way of detecting the cluster type slurm was built for, specifically BG/L, BG/P and BG/Q. Must chat to Slurm developers about this, maybe a slurm function to return build info would be possible.

[2011-12-23 13:03] gingergeeks opened #3 "Python3 compatibility"
Have to do this at some point but gradually removing any deprecated usage :
1. Dictionary has_key() calls removed.
2. Dictionary iteritems() calls removed.
3. Unicode strings (in progress).

Completed porting of the following for Py3k support :
1. Updated "**init**.py" so the new absolute import is used via from **future**
2. setup.py minimum requirement is now Python2.6 as that has back ported su

[2011-12-23 17:29] #1 closed, assigned to gingergeeks

[2011-12-25 18:31] gingergeeks opened #4 "Add Unicode Support"
Don't really want to but if we add unicode support to the Python2.2.x version then porting to Python3 will  be easier

[2012-01-16 13:00] #2 closed, assigned to gingergeeks

[2012-04-12 10:14] nbarrientos opened #5 "PySlurm fails to build against Slurm 2.3.4"
Hi,

Some of the elements declared in both pyslurm.pyx and slurm.pxd don't longer exist. Compilation output:

[code]

[code]

Some other things are also missing:

[This diff](http://pastebin.com/ABrTKAqv) compares datatype _block_info_t_ as it was declared in versions 2.2.7 and 2.3.4 (sorry, couldn't paste here because I was unable to make GTM highlight a diff). Some of the removed fields are stil

[2012-04-21 20:50] #5 closed, assigned to gingergeeks

[2012-04-23 11:32] gingergeeks opened #6 "Add Cray (Alps) Support"
Just a place holder to remind me to add Cray XT series (ALPS/BASIL) support, this will developed on a Cray XK6 and supported with one or more setup.py flags.

[2012-07-16 08:53] #6 closed, assigned to gingergeeks

[2012-11-12 00:06] gingergeeks opened #7 "Add cleanup of build directory and temp files to setup.py"

[2012-11-12 00:07] gingergeeks opened #8 "Add .gitignore file to repo"
Need to identify files that should not be considered candidates for commit

[2012-11-12 00:09] gingergeeks opened #9 "Detect cluster mode in Slurm"

[2012-11-12 00:13] gingergeeks opened #10 "Add Sphinx auto build documentation"

[2012-11-12 07:51] gingergeeks opened #11 "Cover job submission API"

[2012-11-12 08:28] gingergeeks opened #12 "Incorporate Python-hostlist into pyslurm"

[2012-11-12 08:30] gingergeeks opened #13 "Test and validate PySlurm with Cython-0.17.1"

[2012-11-12 15:13] #12 closed, assigned to nobody

[2012-12-08 13:15] #13 closed, assigned to nobody

[2012-12-08 13:44] gingergeeks opened #14 "Pyslurm-2.5.0 and Cython-0.17.2 raises API issue"
Whilst completing PySlurm-2.5.0 for release the compile was tested against Cython-0.17.2 which has raised the following code error against the Slurm API. Cython is correct and the code below is indeed incorrect ! This needs to be fixed and retested before formal release and previous versions should be verified as well at some point to see where the API changed.

[code]

[2012-12-12 11:40] gingergeeks opened #15 "Add Slurm version check to setup.py"
In order to make sure that the version of PySlurm matches the version of Slurm we need to add a version check in setup.py. One possible way is to check the version hex string from slurm.h.

[2012-12-13 18:32] #15 closed, assigned to gingergeeks

[2012-12-13 18:33] #7 closed, assigned to gingergeeks

[2012-12-14 07:56] gingergeeks opened #16 "Create a PySlurm 2.4.3 branch"

[2012-12-16 12:50] gingergeeks opened #17 "Test and validate latetst PySlurm with Cython-0.17.3"

[2012-12-16 17:14] #17 closed, assigned to nobody

[2012-12-16 18:22] #16 closed, assigned to nobody

[2012-12-17 22:49] gingergeeks opened #18 "Create a PySlurm 2.4.5 branch"
No changes in the 2.4.5 API compared to 2.4.4 API

[2012-12-20 13:30] laparn opened #19 "Problem while importing pyslurm on ubuntu 12.04"
Hello,

I just set up slurm 2.5, and then pyslurm on an ubuntu 12.04 computer.
Slurm is working fine (in /usr/local), and I was able to compile pyslurm and install it (python setup.py build --slurm=/usr/local; sudo python setup.py install).
However, when I am just importing pyslurm, I get :

Python 2.7.3 (default, Aug  1 2012, 05:14:39)
[GCC 4.6.3] on linux2
Type "help", "copyright", "credits" or

[2012-12-21 08:23] #19 closed, assigned to nobody

[2012-12-21 08:35] laparn opened #20 "Problem with pyslurm on example jobs_list.py"
So now import pyslurm is working (ubuntu 12.04, slurm2.5.0, trunk of pyslurm, cython from pip install). So I am going through the different examples.

I see the partition, blocks_list.py send back No Blocks.

However :
python jobs_list.py
Traceback (most recent call last):
  File "jobs_list.py", line 47, in <module>
    jobs = a.get()
  File "pyslurm.pyx", line 1573, in pyslurm.pyslurm.job.get (py

[2012-12-21 21:12] #8 closed, assigned to gingergeeks

[2012-12-21 22:57] gingergeeks opened #21 "Add in energy reporting for node"
Adding into node class the gathering of info from acct_gather_energy structure. Just need to build kernel with msr module and test with userspace rapl.

Have implemented an energy dictionary within the node dictionary to hold the metrics -

[code]

Testing will need to be done to account for non-msr installs/architectures.

[2012-12-22 11:51] #10 closed, assigned to nobody

[2012-12-26 18:26] gingergeeks opened #22 "Check for all types from Slurm where it could be None"
There appears to be situations where it was assumed that an integer is expected by when no value is received then it is translated as None by Python. We need to check that the value is valid before passing onto to conversion routines ie get_conn_type_string.

[2012-12-26 20:18] gingergeeks opened #23 "Correct preempt mode decode"
The following example is different from the output of scontrol - should be simple to resolve

[code]

[2012-12-27 10:36] #20 closed, assigned to nobody

[2012-12-27 10:55] #23 closed, assigned to nobody

[2012-12-27 10:56] #21 closed, assigned to nobody

[2012-12-28 14:55] laparn opened #24 "Number of running jobs showed in example/jobs_list.py does not correspond to the real number of jobs"
While running the example/jobs_list.py and having one running job, I have :
arnaud@D3550:~/src/pyslurm/examples$ ./jobs_list.py
No jobs found !
arnaud@D3550:~/src/pyslurm/examples$ ./jobs_list.py
JobID 136 :
	account              : None
	alloc_node           : D3550
	alloc_sid            : 2849
	altered              : None
	assoc_id             : 0
	batch_flag           : 0
	batch_host           :

[2012-12-28 15:05] laparn opened #25 "Representation of partitions in pyslurm"
While investigating the representation of partitions in pyslurm, I end up with the following results :
Informations available for example with scontrol show partition :+1:
PartitionName=debug
   AllocNodes=ALL AllowGroups=ALL Default=YES
   DefaultTime=NONE DisableRootJobs=NO GraceTime=0 Hidden=NO
   MaxNodes=UNLIMITED MaxTime=UNLIMITED MinNodes=1
   Nodes=snode1,D3550
   Priority=1 RootOnly=NO Re

[2013-01-04 14:08] laparn opened #26 "slurm_job_terminate core dump"
Hello to all,

I am trying on slurm 2.5 slurm_job_terminate. What I am doing :

{174: {u'comment': None, u'time_limit': 26L, u'cnode_cnt': None, u'alloc_node': u'D3550', u'features': [], u'eligible_time': 1357308185, u'contiguous': False, u'resv_id': None, u'ramdisk_image': None, u'block_id': None, u'sockets_per_node': 65534, u'req_switch': 0L, u'resv_name': None, u'licenses': {}, u'qos': None, u'

[2013-01-08 14:56] #25 closed, assigned to nobody

[2013-01-17 16:17] timstaley opened #27 "Question: Recommended slurm / pyslurm version for simple usage and stability?"
Hi guys,
excuse the abuse of the issue tracker, but I figured if I ask a question here it might be of use to others.

Anyway, I'm trying to set up slurm for a pretty run-of-the-mill cluster, fairly simple FIFO queue with a few high priority jobs etc - the point is, I don't need the latest and greatest.

Out of the box, the slurm apt-package on Ubuntu 12.04 is 2.3.2, but I see no branches matching

[2013-01-21 17:47] #27 closed, assigned to nobody

[2013-01-22 17:15] laparn opened #28 "Strange python non blocking error message while using pyslurm.node() nodes.get()"
When using pyslurm.node, I get the following behaviour  :

Python 2.7.3 (default, Aug  1 2012, 05:14:39)
[GCC 4.6.3] on linux2
Type "help", "copyright", "credits" or "license" for more information.

python: error: Unsupported option 4 for get_nodeinfo.
python: error: Unsupported option 4 for get_nodeinfo.

There are useful information in nodes_dict after that. However, the error message is disturb

[2013-04-26 16:35] waxie opened #29 "hostList not set in jobDict with SLURM 2.5.5"
ramonb@r7n17:~$ squeue -o '%N' -j 37
NODELIST
r7n[18,20]
ramonb@r7n17:~$

and with pyslurm:

<pre><code>

{u'comment': None, u'time_limit': 120L, u'cnode_cnt': None, u'alloc_node': u'r7n17', u'features': [], u'eligible_time': 1366992590, u'contiguous': False, u'resv_id': None, u'ramdisk_image': None, u'block_id': None, u'sockets_per_node': 65534, u'req_switch': 0L, u'resv_name': None, u'licenses':

[2013-04-27 15:14] #29 closed, assigned to nobody

[2013-04-28 10:48] waxie opened #31 "undefined symbol in select_cray.so"
As described here:
 https://github.com/SchedMD/slurm/issues/48

While playing around with pyslurm (and SLURM 2.5.6) I get:

python: error: plugin_load_from_file: dlopen(/usr/lib/slurm/select_cray.so): /usr/lib/slurm/select_cray.so: undefined symbol: default_slurm_config_file
python: error: Couldn't load specified plugin name for select/cray: Dlopen of plugin file failed

This is on a 'normal' Linu

[2013-04-29 18:50] #31 closed, assigned to nobody

[2013-04-29 19:10] waxie opened #32 "Unsupported option 4 for get_nodeinfo."
This is with:
 * Debian 6.0.7
 * SLURM 2.5.6
 * Cython 0.15.1
 * latest pyslurm

This is on a test cluster with 14 slurm nodes.

When I get the nodes, the error is printed 14 times once for each node.

<pre><code>
# python
Python 2.6.6 (r266:84292, Dec 26 2010, 22:31:48)
[GCC 4.4.5] on linux2
Type "help", "copyright", "credits" or "license" for more information.

python: error: Unsupported option

[2013-05-06 14:19] laparn opened #33 "Problem with unicode characters in Slurm job names"
Hello to all,

When jobs are submitted with names including unicode characters (perfectly allowed by slurm), then when doing a job.get on them, I get :+1:

JobId=90 Name=dédé job
   UserId=admin(9999) GroupId=admin(9999)
   Priority=4294901746 Account=(null) QOS=(null)
   JobState=COMPLETED Reason=None Dependency=(null)
   Requeue=1 Restarts=0 BatchFlag=1 ExitCode=0:0
   RunTime=00:00:01 TimeLimit

[2013-06-03 14:48] laparn opened #34 "Use of licenses (-L) makes pyslurm job.get() crashing"
In starting the following job (after having created a license test in slurm.conf) :
srun -L test -N 1 ./wait-arg.sh 240

I get the following error with pyslurm :
python
Python 2.7.3 (default, Apr 10 2013, 06:20:15)
[GCC 4.6.3] on linux2
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "pyslurm.py

[2013-07-04 05:14] sqlboy opened #35 "No symbols in python module"
After compiling with cython 0.19 and 2.5.7 my module has nothing in it.

['DLFCN', '__builtins__', '__doc__', '__file__', '__name__', '__package__', '__path__', '__version__', 'absolute_import', 'old_dlopen_flags', 'os', 'sys', 'version']

any ideas?

[2014-01-28 15:07] atombaby opened #36 "segfault in node.get"
I am getting a segmentation fault in nodes.get() on my production slurm cluster (2.6.2, using pyslurm master branch).

When I run the example:

[code]

It works just fine on the (almost) identical test cluster I have.  I did get the core- backtrace shows:

[code]
In the cython-built pyslurm.c, line 23989:

[code]

Some debugging revealed that name is being set to null- line 2055 in pyslurm.pyx:

[

[2014-05-20 02:18] hgkim2004 opened #37 "pyslurm.slurm_api_version() doesn't work"
Dear,

When I call the pyslurm.slurm_api_version(), I got the follwoing error message.

What is the problem?

My installed slurm version is slurm-2.5.0 and pyslurm version is PySLURM 2.5.0-1.

Thank you in advance.

[2014-10-14 11:49] olahaye74 opened #38 "Doesn't build with slurm-14.03.8 and Cython-0.20"
Even when patching setup.py to build with newer python version, the build fails.
building 'pyslurm.pyslurm' extension
creating build/temp.linux-x86_64-2.7
creating build/temp.linux-x86_64-2.7/pyslurm
gcc -pthread -fno-strict-aliasing -O2 -g -pipe -Wall -Wp,-D_FORTIFY_SOURCE=2 -fexceptions -fstack-protector-strong --param=ssp-buffer-size=4 -grecord-gcc-switches -m64 -mtune=generic -D_GNU_SOURCE -fP

[2014-11-27 09:30] supermanue opened #39 "Design decisions for Pyslurm update"
Hi all,

This is the thread where I ask you obvious stuff about pyslurm architecture until you get bored of me. I am newbie both with pyslurm and with Cython, so probably some of the questions are kind of obvious at first. Sorry for that.

This said,

1) I have the impression that all the methods from slurm.h are defined in slurm.pdx. Is this correct?

2) ... but not all the constants and paramete

[2014-11-30 18:46] #18 closed, assigned to nobody

[2014-12-01 23:07] mrobbert opened #41 "nodes attribute of job_info changed type"
I have been tracking the recent changes in order to use this library with another project (job monarch) and today I got it close to working, but found a potential bug. It may just be that a change is needed on the use of the library, but I wanted to check.  The nodes attribute in the job_info structure used to be a string and it changed to a list. The code I'm using grabs this attribute and then c

[2014-12-02 23:59] #41 closed, assigned to nobody

[2014-12-08 08:10] #37 closed, assigned to nobody

[2015-01-12 12:20] supermanue commented on #39
Hi,

Sorry for my late answer. I was moved out of this project for a while (change on the priorities of my office) and then had some Christmas vacations.  Anyway, I hope to be working on this again form now on.

As a first step I am integrating the job submission and control functions with your previous work. After that, maybe working in a high level layer (as we discussed before) would be a good

[2015-03-02 20:15] anderbubble opened #42 "refuses to build on 0x0e0b04 (14.11.4) but appears to work"
I changed setup.py to allow building against 14.11.4, and it built successfully.

    diff --git a/setup.py b/setup.py
    index fb1aa70..1ed7e5b 100644
    --- a/setup.py
    +++ b/setup.py
    @@ -24,7 +24,7 @@ logging.basicConfig(level=20)
     #VERSION = imp.load_source("/tmp", "pyslurm/__init__.py").__version__
     __version__ = "14.11.0-0"
     __min_slurm_hex_version__ = "0x0e0b00"
    -__

[2015-03-03 08:23] gingergeeks commented on #42
Anderbubble,
                     You are quite correct with the suggestion. I checked the Slurm 14.11.4 API when it was released and nothing has changed and the min-max checked in setup.py is designed for exactly this situation. I will add your change later tonight.

Best Regards

[2015-03-03 16:09] anderbubble commented on #42
Any chance I could do the full fork/commit/pull request dance to get my own
commit in the tree? It'd be a first for me. :)

~jonathon

On Tue, Mar 3, 2015 at 1:23 AM, Gingergeek <notifications@github.com> wrote:

[2015-04-06 13:53] #42 closed

[2015-07-31 13:13] rfehren commented on #3
Hi,

I tried using pyslurm with python 3 but get e.g.:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "pyslurm/pyslurm.pyx", line 1723, in pyslurm.pyslurm.job.find (pyslurm/pyslurm.c:22792)
TypeError: expected bytes, str found

[2015-07-31 16:17] gingergeeks commented on #3
Thanks for that report. I'm currently working on testing 15.08.0-preX so once this working branch is committed (soon) I will take a look to adding proper Python3 support to it as well.

[2015-07-31 18:14] gingergeeks commented on #3
Having had a play it looks like I will need to commit current 15.08.0-preX branch (Python2.x) and start making changes for Python3 after that. Which Slurm version are you using ?

[2015-07-31 18:28] rfehren commented on #3
I'm using 14.11.5. As I said, we're happy to help porting.

[2015-08-08 23:48] giovtorres opened #48 "MIXED state is misreported as ALLOCATED"
pyslurm is not reporting the correct node state for nodes in the MIXED state.  In this example, pyslurm reports the node is ALLOCATED...

'ALLOCATED'

...while the slurm commands report the node is in the MIXED state:

$ scontrol show node cn0313 | grep -i state
   State=MIXED ThreadsPerCore=2 TmpDisk=6451 Weight=40

sinfo also reports the node in the MIXED state.  Tested wrong in both pyslurm ver

[2015-08-09 09:08] gingergeeks commented on #48
Thank you for the report. I clearly have some logic wrong there and will need to recheck it !

[2015-08-10 15:09] giovtorres commented on #34
I started seeing the same thing today.  I'm using:

SLURM 14.11.7
pyslurm 14.11.5
Cython 0.22.1
Python 2.6.6

[code]

[2015-08-10 17:36] gingergeeks commented on #34
Hmm, works for my test case. Can you send the appropriate output line from Slurm for the job ?

[2015-08-10 17:44] giovtorres commented on #34
I wasn't running any jobs.  I just opened the interpreter and ran the following to reproduce the error:

[code]

It occurs when there is one or more licenses checked out.

[2015-08-10 17:46] gingergeeks commented on #34
Right I will try again...thank you again for your time.

[2015-08-10 18:16] giovtorres commented on #34
Looks like on line 4209 of pyslurm.pyx, I see alist is a list of strings, where the strings match the license name.  The strings do not have a split_char in them.

[code]

From the code, it appears alist should look like this:

[code]

This is why I am getting the unpacking error when trying to split the string.

[2015-08-10 20:07] gingergeeks commented on #34
When I check the return it is a dictionary with the number of requested/used licenses for the job.

[code]

[2015-08-10 20:13] giovtorres commented on #34
Hmm.  Do you have any suggestions I could use to debug further on my end?

[2015-08-10 20:17] gingergeeks commented on #34
What's the output of "scontrol show lic" ?

[2015-08-10 20:18] giovtorres commented on #34
[code]

[2015-08-10 20:31] gingergeeks commented on #34
OK, lets display the license string in the __get_licenses routine and rebuild/install, add something similar to the following.

[code]

[2015-08-10 20:35] giovtorres commented on #34
[code]

[2015-08-10 20:38] gingergeeks commented on #34
So you are not getting a value for "matlab", I get for example "lstc:4". I
need to dig into the API a little to make sure I'm not missing something,
I'll get back to you shortly.

On 10 August 2015 at 21:35, Giovanni Torres <notifications@github.com>
wrote:

[2015-08-10 20:39] giovtorres commented on #34
Yup, no value for number of licenses, just the name.  Thanks!

[2015-08-10 20:48] gingergeeks commented on #34
I have an example license monitor program similar to "scontrol show lic" you can run examples/licenses.py

[2015-08-10 20:58] giovtorres commented on #34
That shows correctly.  I checked out 1 matlab license, then released it.

[code]

However, while the license was checked out, pyslurm.job() still fails:

[code]

[2015-08-10 21:10] gingergeeks commented on #34
On my simple test vmware I don't have any actual license servers so I'm testing with a simple config. How have you defined licenses in the config ?

[code]

so I wonder if they is possibly a situation where no value is returned whilst we query it during an acutal checkout. I could test for a no value situation but we would need to return a key value of some sort.

[2015-08-10 23:10] giovtorres commented on #34
There are several references to __get_licenses in various classes.  I tried pyslurm.config() and it does not give me the same error as pyslurm.job().

Here is the license output I have from scontrol.
[code]

I left the print statement in the __get_licenses function.  Interestingly enough, pyslurm.config.get() makes a call to __get_licenses and it does print a proper dictionary:

[code]

For some r

[2015-08-24 19:13] gingergeeks commented on #48
Sorry for the delay.....other priorities. I have rewritten the code slightly so it now reports correctly but I can see that more work is still needed to account for cluster and BG flags but this is working on my test code which I will commit as soon as I can to 14.11.x and 15.08.x.

    makalu:/home/mark/pyslurm # sinfo
    PARTITION AVAIL  TIMELIMIT  NODES  STATE NODELIST
    debug        up   in

[2015-11-25 21:43] MikeDacre opened #49 "Cannot install, build error"
``python setup.py build --slurm-lib=/usr/lib64/ --slurm-inc=/usr/include`` fails with the following error:

    pyslurm/pyslurm.c: At top level:
    pyslurm/pyslurm.c:68541:65: error: unknown type name ‘connection_type’
     static CYTHON_INLINE PyObject* __Pyx_PyInt_From_connection_type(connection_type value) {
                                                                 ^
    pyslurm/pyslurm

[2015-11-25 22:17] gingergeeks commented on #49
Hi Mike,
             I'm away from my test box at the moment but I can take a look tomorrow evening.  I'm assuming this was with the 14.11.5 version of PySlurm you were using ?

Regards

Mark

[2015-11-25 23:38] MikeDacre commented on #49
No problem. And it is the just a clone of the current git repo (as of two hours ago) that I am using. Using --slurm=/usr gives exactly the same error. I am not sure if it is unable to find the slurm.h file, or if there is something else missing.

[2015-11-26 00:32] MikeDacre commented on #49
I just tried with the 14.11.5 branch and got a different error:

    python setup.py build --slurm-lib=/usr/lib64 --slurm-inc=/usr/include
    INFO:root:Info:
    INFO:root:Info: Building PySlurm (14.11.5)
    INFO:root:Info: ------------------------------
    INFO:root:Info:
    INFO:root:Info: Cython version 0.23.4 installed

    INFO:root:Info: Clean - checking for objects to clean
    INFO:roo

[2015-11-27 02:43] ajmazurie opened #50 ""ImportError: No module named pyslurm" despite successful install"
Hi guys,
I was able to successfully (I believe) compile the `pyslurm` module, despite a few warnings:

[code]

I was then able to install the module with `python setup.py install`:

[code]

But when attempting to import it in Python, I get an `ImportError`:

[code]

Any idea about why I get this error message?

Best,
Aurélien

[2015-12-04 09:21] gingergeeks commented on #49
Mike,
        Thank you for that trace. I'm now free for a month (Yay !) so I will have more free time. At first glance it looks like a gcc is having an issue. What version of gcc are you using ?

Mark

[2015-12-04 09:24] gingergeeks commented on #50
Aurélien,
              Ok, so here you are using pyenv which I must confess to not having tested with PySlurm. Which directory are you sitting in at the point of running the python interpreter/import ?

Mark

[2015-12-08 16:28] giovtorres opened #51 "feature request: add alloc_mem to pyslurm.node()"
pyslurm.node().get() doesn't give allocated memory for any nodes.  I'm looking for this value:

[code]

pyslurm does report real_memory for each node.

Thanks,
Giovanni

[2015-12-08 16:32] gingergeeks commented on #51
Giovanni,
               OK, I will take a look at the API structure and see what I'm missing to call. Which version are you using ?

Regards, Mark

[2015-12-08 16:44] giovtorres commented on #51
pyslurm-14.11.5
slurm 14.11.9
(going to 15.08 soon)

[2015-12-08 16:49] gingergeeks commented on #51
Thanks, looks like I will need to call out to the opaque data structure via select_node_info_get. Most of the code is there but not complete or tested for some time. As I working on slurm-14.11.x for other people I will look to adding it in to that branch first and then 15.x later.

[2015-12-08 19:00] giovtorres commented on #51
Great! Thanks.  I can help test that portion of the code as well.

[2015-12-08 19:16] gingergeeks commented on #51
It is now coded up but I will need to test it tonight/tomorrow before I push some code to you and then I will upload the changes to git.

[2015-12-08 20:49] gingergeeks commented on #51
OK, here we go. I believe It appears to work.......which is nice ! Of course I was banging my head on the desk as I was still getting zero until I realised that I needed to turn on "SelectTypeParameters=CR_CORE_MEMORY" in the config......dooh.

Please find attached a replacement pyslurm.pyx for you. Obviously you will need to replace the existing one and do a build/install etc.

[pyslurm.pyx.zip](

[2015-12-08 22:51] gingergeeks commented on #50
Aurélien,
              If you are in a directory that has a directory called pyslurm then the relative import line "from .pyslurm import *" will attempt to use that directory. Best you come out of that directory and try again.

Mark

[2015-12-08 22:54] #36 closed

[2015-12-08 22:55] gingergeeks commented on #38
A dead thread

[2015-12-08 22:55] #38 closed

[2015-12-08 22:57] gingergeeks commented on #34
I think this long resolved when I changed to you requested method. Please reopen if still an issue

[2015-12-08 22:58] #32 closed

[2015-12-08 22:59] gingergeeks commented on #28
I reworked the code a long time ago for this so it should be closed. Please reopen if still a problem

[2015-12-08 22:59] #28 closed

[2015-12-08 23:00] gingergeeks commented on #22
Think I cover most of these now.

[2015-12-08 23:00] #22 closed

[2015-12-09 15:57] giovtorres commented on #34
I don't recall seeing any code change for this.  It still occurs.

I use the 14.11.5 branch.  If there are no licenses checked out, pyslurm.job() works just fine.  If, however, there are one or more licenses checked out, __get_licenses() throws an exception, same as describe above.

[code]

I get around it by commenting out that line and recompiling.

[2015-12-09 15:59] gingergeeks commented on #34
OK, so I will get it fixed (thought I had !)

[2015-12-09 16:21] giovtorres commented on #51
Looks good!  Just need to remove the print statement on line 2385.

[2015-12-09 16:28] gingergeeks commented on #51
Cool,  I will remove the debug line as well.

[2015-12-09 18:54] giovtorres commented on #48
I must have missed this.  The reported states are better, but still broken.  I am now getting "+DRAIN" in addition to the actual state of the node.  It appears only on the non-default partition, if that has any significance.

For example:
[code]

[code]

Here's a comparison of a node in our default partition:
[code]
[code]

[2015-12-09 18:55] giovtorres commented on #48
Forgot to mention, this is with the patch provided here: https://github.com/gingergeeks/pyslurm/files/56029/pyslurm.pyx.zip

[2015-12-09 19:03] gingergeeks commented on #48
Right, another one not put to bed yet :(

[2015-12-09 20:43] ajmazurie commented on #50
Mark,
I think you found the problem, thanks!

Best,
Aurélien

[2015-12-09 20:49] ajmazurie opened #52 "Segmentation fault on pyslurm.node()"
Here is an example of session with Pyslurm triggering the error message:

[code]

Best,
Aurélien

[2015-12-09 20:52] ajmazurie commented on #11
I second this feature request. After spending a while playing with the API to gather information about running jobs (I couldn't get information about the nodes yet, see https://github.com/gingergeeks/pyslurm/issues/52) I was wondering about how to launch one. I was surprised not to find any reference to it. Is that a planned feature?

Best,
Aurélien

[2015-12-09 21:28] gingergeeks commented on #52
Yep, this is has been raised by Jonathon Anderson on the Slurm mailing list and I'm currently working on it. How many nodes in your cluster ? The reason I ask is so I can recreate the issue.

[2015-12-09 21:30] gingergeeks commented on #11
Yep, I know it's been open for a long time and I agree but I need to resolve the outstanding issues first.

[2015-12-09 21:56] ajmazurie commented on #52
I'll have to check but we're above 40 nodes at that point.
Aurélien

[2015-12-09 22:03] gingergeeks commented on #52
Sometime ago, I changed the code so I could track and manage the change in data (various classes) from the Slurm API so that looped monitoring programs could be used. Clearly I have a memory issue here but this was showing up on my small test VM.

[2015-12-09 23:17] gingergeeks commented on #52
Aurélien,
             I have traced a possible cause to a defined node in the config which does not truly exist. The Slurm API returns a record for it but with no data content. A quick check for a node name of NULL in the record was all that was necessary, does this match your configuration ?

Mark

[2015-12-09 23:46] ajmazurie commented on #52
Mark,
I'll have to get back to you on this. Are you asking if one of the node has a name 'NULL'?

Aurélien

[2015-12-10 08:17] gingergeeks commented on #52
Aurélien,
              It was a statement that we have traced the problem to a bug in PySlurm and not handling a node record with an empty nodename entry. I think this is where nodes have been entered in the slurm config but do not actually exist in the hosts file or DNS. My question was if it is possible that you have nodes in your config that do not actually exist ?

Mark

[2015-12-10 14:02] gingergeeks commented on #52
Aurélien,
              If you pull the latest 14.11.5 the patch as discussed previously has been committed. Please let me know if this now works and close the ticket if you are happy.

Mark

[2015-12-10 14:03] gingergeeks commented on #51
Giovanni,
              If you pull the latest 14.11.5 the changes as discussed previously have been committed. Please let me know if this now works and close the ticket if you are happy. I will look at the license gres handling now !

Mark

[2015-12-10 14:04] gingergeeks commented on #50
I might add some notes to the wiki for common problems such as this that can be solved.

[2015-12-10 14:04] #50 closed

[2015-12-10 14:06] gingergeeks commented on #35
No info for this, if this still an issue then please reopen.

[2015-12-10 14:06] #35 closed

[2015-12-10 14:07] #14 closed

[2015-12-10 14:50] gingergeeks commented on #48
Giovanni, I'm unable to reproduce this at the moment using a job in either default or non-default partition. I believe it is happening I just can't generate the situation so I can examine the data. If I set the node to drain whilst it is running a job (default and non default partition) then that state is correctly marked as "ALLOCATED+DRAIN" but I cannot see that state when the node is only ALLOC

[2015-12-10 15:18] giovtorres commented on #51
I pulled the latest 14.11.5 and rebuilt.  alloc_memory is now not showing up for any nodes.
[code]

Here's the diff between the latest 14.11.5 and yesterday's out-of-band patch:

$ diff patch/pyslurm/pyslurm.pyx 14.11.5/pyslurm/pyslurm.pyx
[code]

[2015-12-10 15:22] gingergeeks commented on #51
Yep, too much haste ! Hace committed missing host dictionary entry, please try again

[2015-12-10 16:11] ajmazurie commented on #52
Maybe... I do not have a complete understanding of how the cluster is managed, unfortunately.
Aurélien

[2015-12-10 17:31] giovtorres commented on #48
This is what I found... If I add the following print statements:
[code]

This is what I get on a node whose state is ALLOCATED:

[code]

"im here" does not get printed.  Any ideas?

[2015-12-10 17:37] gingergeeks commented on #48
I will go through the code again.

[2015-12-10 17:39] giovtorres commented on #51
Yup, looks good.  Thanks Mark!

[2015-12-10 17:41] giovtorres commented on #48
Thanks.

If I comment out #drain_str = "+DRAIN", then drain_str doesn't get set.  Makes sense.

But, I can't see how/why 'drain_str' gets set before its reassignment.  The only line prior to that one that references 'drain_str' is its declaration: char *drain-str = "".

[2015-12-10 17:52] gingergeeks commented on #52
Aurélien,
              This should now be resolved with the latest pyslurm-14.11.5 commits. So please test and close the ticket if it is fixed.

Mark

[2015-12-10 18:29] #51 closed

[2015-12-10 18:51] gingergeeks commented on #34
Giovanni,
               This is one, I cannot recreate at the moment as it appears to work for me. Can you provide me with an updated trace from the latest PySlurm-14.11.5 download and the appropriate lines from the slurm config for the licenses definitions. I will continue to try to make it fail.

Mark

[2015-12-10 20:06] gingergeeks commented on #34
Giovanni,
              Can you give this gzipped out-of-band pyslurm.pyx a test. You were observant to the fact that the various state strings were not being set correctly.

Mark

[2015-12-10 21:01] gingergeeks commented on #48
Giovanni,
              Please can you give this out of band zipped pyslurm.pyx file a test. You were observant regarding the state strings not being initialised, they are now :) My tests show nodes in MIXED and ALLOCATED state with no attached +DRAIN string.

Mark
[pyslurm.pyx.zip](https://github.com/gingergeeks/pyslurm/files/58719/pyslurm.pyx.zip)

[2015-12-11 00:09] giovtorres commented on #48
This works perfectly now.  Thanks Mark.

[2015-12-11 00:14] giovtorres commented on #34
Here is the traceback:
[code]

Here is the license config:
[code]

Looking at the previous comments, your license config uses "*" as the delimiter.  Could you change them to ":" to see if that will reproduce the issue on your end?

Thanks,
Giovanni

[2015-12-11 18:13] MikeDacre commented on #49
Yes, you were right. I changed the gcc build system on the server to a different version and it compiles fine now. I am having another issue now, but I will open a separate issue for that.

Thanks for your help.

[2015-12-11 18:13] #49 closed

[2015-12-11 18:15] MikeDacre opened #53 "ImportError: No module named pyslurm"
This may be me just being stupid, but after successfully building and installing pyslurm, when I run ``import pyslurm`` from an interactive python shell, I get the following error:

    Python 2.7.5 (default, Dec  3 2013, 08:35:16)
    [GCC 4.4.6 20120305 (Red Hat 4.4.6-4)] on linux2
    Type "help", "copyright", "credits" or "license" for more information.

    Traceback (most recent call last):

[2015-12-11 18:39] MikeDacre commented on #53
I fixed this myself by removing the leading dot from the ``from .pyslurm import *`` making it ``from pyslurm import *``. That seemed to work, although now when I try to run one of the examples I am getting ``python: symbol lookup error: /usr/lib64/slurm/auth_munge.so: undefined symbol: slurm_debug``. I guess the sysadmin didn't install the debug module for slurm.

[2015-12-11 21:58] gingergeeks commented on #48
Closing, reopen if I mess this up again. Thank you for your help

[2015-12-11 21:58] #48 closed

[2015-12-11 22:05] gingergeeks commented on #34
My test config is using ":" as the the delimiter, at the moment I still do not get the issue but I will track it down.

[2015-12-11 22:07] gingergeeks commented on #53
Mike,
        This is because probably because you were in the pyslurm build directory which itself has a pyslurm directory. I bet if you changed into a directory with no pyslurm directory it will work. Of couse you should put back the "from .pyslurm import *" relative import statement.

Mark

[2015-12-11 22:23] MikeDacre commented on #53
Yes, I realized that. I was being dumb. I returned it to its previous value and it works fine now. Thanks for the help.

[2015-12-11 22:23] #53 closed

[2015-12-11 22:28] MikeDacre commented on #3
I am working on getting this working with python3 now, I fixed @rfehren problem by changing
    def find(self, char *name='', val=''):
to
    def find(self, name='', val='')

This works as expected in both python2 and python3, plus I think it makes more sense than making the round trip to C, which seems unnecessary and potentially costly in this instance.

I could be wrong though, I am not a C pro

[2015-12-11 22:49] gingergeeks commented on #34
I can reproduce the issue in one situation. Are you submitting a license request in a job without the number as in "#SBATCH -L lstc" instead of " #SBATCH -L lstc:1" ?

[2015-12-11 23:53] MikeDacre commented on #3
I just made a pull request for the 14.11.5 branch that applies this fix

[2015-12-12 00:39] giovtorres commented on #34
I guess I should have mentioned how users submit jobs that requests licenses.  Our users submit as follows:

[code]
or
[code]
Our users typically do not specify a license count at checkout, just the name of the license.  We would only specify a number when more than one license is desired or required for an application.  I guess 1 is the default count if not specified with sbatch?

[2015-12-12 16:57] gingergeeks commented on #34
Giovanni,
               I've committed a change to the 14.11.5 branch in __get_licenses to handle the situation above. Please could you test and then me know if it is OK, when you are happy I will make the change to the 14.11 and 15.x branches.

Mark

[2015-12-14 18:32] giovtorres commented on #34
Hi Mark,

This looks good!  No tracebacks when calling pyslurm.job() even when licenses are checked out and pyslurm.config().get().get("licenses_used") shows the correct used/available count.

Thanks,
Giovanni

[2015-12-14 19:59] gingergeeks commented on #34
Giovanni,
               Thank you for checking it out, I will close this ticket and port this change to the 15.x and the rest of the 14.x branches. I could also backport to the 2.6 branch but I'm not sure this people are using it still.

Mark

[2015-12-14 19:59] #34 closed

[2015-12-14 19:59] gingergeeks commented on #52
Aurélien,
              Have you had chance to test and confirm it is now resolved ?

Mark

[2015-12-19 00:46] MikeDacre opened #55 "Python3: More string issues"
In python3, the dictionary returned by job().get() (and all other similar functions) returns plain strings where binary strings are expected, except formatted to include the ``b''`` syntax. I know this is confusing, so here is what I mean:

python2::

    from pyslurm import job
    job().find_id(5397444)['name']
    Out[2]: u'LD0091.part1.wasp1.sbatch'
    type(job().find_id(5397444)['name'])

[2015-12-19 10:25] gingergeeks commented on #55
Mike,
         This is one of the reasons why ticket #3 was created to handle the fundamental differences in unicode and byte string handling. I will be looking at this soon and if we can have one code base for both python2 and python3.

[2015-12-21 20:41] giovtorres opened #57 "Question: can pyslurm access per-partition CPU info like sinfo?"
Does pyslurm have access to the number of allocated/idle/other/total CPUs per partition?  I could only find the total_cpus in pyslurm.partition().

[code]

Thanks,
Giovanni

[2015-12-21 20:48] gingergeeks commented on #57
Giovanni,
               I will take a look when I can this holiday.

[2015-12-21 20:48] giovtorres commented on #57
Thanks!

[2015-12-21 21:21] gingergeeks commented on #57
Giovanni,
              Looks like sinfo is making calls out to the node structure to determine nodes in the partition and hence information that is not available in the partition structure. I wonder if an example script/class to provide the information rather than changing the underlying slurm data structure is best ?

Mark

[2015-12-21 21:37] gingergeeks commented on #57
Update - I wonder if adding it as a function call in the partition class would work ?

[2015-12-22 00:40] giovtorres commented on #57
I'm not really sure where is the best place for this data.  I agree that you wouldn't want to change the underlying slurm data structure.  It doesn't have to go in the partition structure, although that would be a logical place for it since the data is per-partition.  Perhaps a function call in the partition class would do indeed.

[2015-12-23 15:13] giovtorres opened #58 "pyslurm.node().get() doesn't work as expected anymore. Regression?"
I have a script that does the following:
[code]
nodeinfo is now always returning an empty {}.  If I revert to an older version of pyslurm, nodeinfo is populated correctly.  I think the problem may be in this commit: 6110534f26aef59821960d7a4b236a91b2550e43.  self.get() was taken out of the node constructor.  It is there, however, for the job class constructor (https://github.com/gingergeeks/pyslur

[2015-12-23 15:18] gingergeeks commented on #58
You are correct Giovanni, I did remove the self.get call in the constructor because I noticed that somehow the code was calling it twice during first use. I will implement the call until I can think of a better way.

[2015-12-23 15:19] giovtorres commented on #58
Does it also get called twice in pyslurm.job() then?

[2015-12-23 15:22] gingergeeks commented on #58
Yes, I basically used the same idea for the other classes. I decide to load the class with data so save making the first get/load call.

[2015-12-23 15:36] gingergeeks commented on #58
Giovanni, I've added the self.get() call in the node class constructor for branch 14.11 and onwards. Sorry for the confusion, I will find the cause of the double load whilst leaving the get method in the constructor. Please close when you have retested the latest commit and you are happy.

[2015-12-24 01:16] giovtorres commented on #58
Done.  Old scripts work as before.  Thanks Mark!

[2015-12-24 01:16] #58 closed

[2015-12-27 03:53] MikeDacre commented on #55
Thanks for the info, I wonder if you can just explicitly set all of the strings to be unicode as suggested here: http://python-future.org/compatible_idioms.html?highlight=unicode#unicode-text-string-literals

I can have a look into this myself when I get back to work next week as I am using your code to write a job submission tool for my lab and I want it to work with both 2 and 3.

[2015-12-28 11:45] AlexeyG opened #59 "Support for newer versions of SLURM"
Hi,

I wanted to try to your python module and see if we can use it to build a dynamic queue manager for the iPython parallel cluster. When trying to build the package, I noticed that the version of SLURM we use (15.8.6) is not supported by the package:
[code]

I removed the version check from setup.py to see if it would still build despite the version mismatch, but I hit some compilation errors:

[2015-12-28 12:03] AlexeyG commented on #59
Sorry, I was too fast to post a question.
I just found different branch of pyslurm, which compiled well after removing version checks.

Does this version have any limitations/unfinished bits?

[2015-12-28 12:16] gingergeeks commented on #59
Alexy,
         I was just writing a response when you updated your message :) PySlurm is still an ongoing project with lots of unfinished bits, one notable area is currently no job submission. This would be easy to add but I also need to fix and refine various areas such as proper unicode handling and Python3 compatibility.

The version checks are mainly there because structs and enum changes can

[2015-12-30 12:20] gingergeeks commented on #57
Giovanni,
               How many nodes, partitions do you have and do nodes appear in multiple partitions ? I'm thinking on how to achieve this without a massive hit on the query.

Mark

[2015-12-30 13:23] giovtorres commented on #57
Currently, 2100 nodes, but going up to 4000 in year.

[2015-12-30 14:27] gingergeeks commented on #57
Giovanni,
               Can you time the node get method for me.... similar to below but you will may need to change -

    import pyslurm as slurm
    import time
    start = time.time()
    Nodes = slurm.node()
    end = time.time()
    print("Node init method - %5.2f" % (end-start))

    start = time.time()
    node_dict = Nodes.get()
    end = time.time()
    print("Node get method - %5.2f" %

[2015-12-30 14:33] giovtorres commented on #57
[code]

[2015-12-30 14:38] gingergeeks commented on #57
Thanks, that's not as bad as I thought it might be. I'm hoping that has data in it :)

[2015-12-30 14:46] giovtorres commented on #57
I thought that was a bit fast too, but there's stuff in there:

[code]

[2015-12-31 17:11] giovtorres opened #60 "pyslurm leaking memory"
I have a [script](https://gist.github.com/giovtorres/6581bb529437eed7c64c) that runs in an infinite loop, gets the cpu and memory utilization of the cluster, sends it to a local network socket, sleeps for 30 seconds, and then repeats.

Running it this way appears to leak memory.  The RSS memory usage for the script continuously grows.  After running the script through Valgrind for a few minutes, I

[2015-12-31 17:18] gingergeeks commented on #60
It means I've not cleanly up memory correctly somewhere and so we need to locate and fix that ! Thank you for the report, when I get time I will investigate as this is important to fix.

[2015-12-31 18:02] giovtorres commented on #60
Command:
valgrind -v --leak-check=full --show-reachable=yes /usr/bin/python send_cluster_util.py

Output:
[valgrind - output - slurm_cluster_util.txt](https://github.com/gingergeeks/pyslurm/files/75670/valgrind.-.output.-.slurm_cluster_util.txt)

[2015-12-31 18:16] gingergeeks commented on #60
Giovanni,
               Thank you for this report and your patience ! I will switch from your other request to try and track this down.  I don't use valgrind that much but clearly I should.

Mark

[2015-12-31 18:22] giovtorres commented on #60
No worries.  Happy to help!

[2015-12-31 18:37] gingergeeks commented on #60
Please do, if we can nail down the area of the leak. Is it a string copy, not free'ing an old pointer etc.

[2015-12-31 19:32] gingergeeks commented on #60
Found one possible area which has made things better (not all reports fixed yet) in class job to do with slurm hostlists that I was allocating/using but calling destroy method when finished.

[2015-12-31 20:17] gingergeeks commented on #60
Corrected another possible leak in the class job and valgrind is now not reporting any definite/indirect lost bytes in a job query loop with lots of jobs coming and going.

    ==16469== LEAK SUMMARY:
    ==16469==    definitely lost: 0 bytes in 0 blocks
    ==16469==    indirectly lost: 0 bytes in 0 blocks
    ==16469==      possibly lost: 31,405 bytes in 571 blocks

  The RSS does increase very

[2015-12-31 20:47] giovtorres commented on #60
That looks much better!  I haven't had a chance yet to look at the code, but I did see a lot of hostlist references in the stack traces from valgrind.

[2015-12-31 20:50] giovtorres commented on #60
[valgrind docs](http://valgrind.org/docs/manual/quick-start.html#quick-start.interpret) have a helpful summary about interpreting the output:

There are several kinds of leaks; the two most important categories are:
- **definitely lost**: your program is leaking memory -- fix it!
- **probably lost**: your program is leaking memory, unless you're doing funny things with pointers (such as moving the

[2015-12-31 21:02] gingergeeks commented on #60
That's useful, I was trying the copious amount of python interpreter output and following [https://github.com/cython/cython/wiki/UsingValgrindToDebug Cython-Using Valgrind]

It may be that because we are using the Python interpreter that we are seeing "probably lost" values. Just firing up python in valgrind and shutting it down will report some "probably lost" values.

[2015-12-31 21:22] giovtorres commented on #60
Let me know when you have a patch ready.  I can test it.

I was originally using this inside collectd, as it is compiled with a python interpreter.  Collectd, at least for me, normally uses under 100MB of RSS.  When running this script under collectd, RSS ballooned to 1GB within an hour and OOM-killed within a day :(

I then change the script to push the metrics directly to graphite, bypassing col

[2015-12-31 21:28] gingergeeks commented on #60
I also need to check the node object for potential issues, is tomorrow okay ?

[2015-12-31 21:47] gingergeeks commented on #60
Okay,,,no promises here as this is just the job class being modified slightly (pyslurm-14.11.5). I expect that we may be leaking in the node class and in other places until I take a look at the code tomorrow.
[pyslurm.pyx.zip](https://github.com/gingergeeks/pyslurm/files/75770/pyslurm.pyx.zip)

[2015-12-31 22:03] gingergeeks commented on #60
A quick change to the node class as well in case you are still leaking (very probably).

Best regards

Mark
[pyslurm.pyx.zip](https://github.com/gingergeeks/pyslurm/files/75777/pyslurm.pyx.zip)

[2015-12-31 22:08] giovtorres commented on #60
Thanks. Ill give it a try.
We can pick this up next week.

[2016-01-02 13:51] gingergeeks commented on #60
Update - a refactor of various code paths as I found other potential leaks. Please try this version as I ran it overnight with a modified version of your script and it appeared to not be leaking.

[pyslurm.pyx.zip](https://github.com/gingergeeks/pyslurm/files/76260/pyslurm.pyx.zip)

[2016-01-04 15:22] duanbj commented on #59
@AlexeyG  hi,
I met the same problem with you,i want to know which branch you used.
wait for you response.

[2016-01-04 15:30] AlexeyG commented on #59
The one with the highest version number - 15.08.2

[2016-01-04 15:55] duanbj commented on #59
@AlexeyG think you!

[2016-01-04 15:56] duanbj commented on #59
@AlexeyG thanks

[2016-01-04 22:39] gingergeeks commented on #59
I will get to updating 15.08.6 shortly but you can use the 15.08.2 branch and change the setup.py variable __max_slurm_hex_version__ = "0x0f0803" to __max_slurm_hex_version__ = "0x0f0806"

I have not tested this so I can't guarantee it will work until I get around to testing later this week.

Mark

[2016-01-04 22:39] gingergeeks commented on #60
Giovanni, Did that update resolve any long running leaks ?

[2016-01-04 23:26] giovtorres commented on #60
I started the same script this morning.  So far it looks good.  I'm letting it run overnight...

[2016-01-05 17:45] giovtorres commented on #60
The memory is still growing, but very very slowly.  I ran my script through valgrind yesterday and didn't get and definitely/indirectly lost bytes.   I also didn't see the same pyslurm messages in the output as before.  It might be something else I am doing. I'll keep watching.  I'll close this ticket for now.

Thanks for your help.

[2016-01-05 18:10] gingergeeks commented on #60
Ok Giovanni but we need to track it down, Is it usable or still not usable for long running processes ?

[2016-01-05 20:36] giovtorres commented on #60
I'm not fully convinced. Let me look at it some more....

[2016-01-05 21:57] gingergeeks commented on #60
I'm still looking into this stripping out everywhere except the basic load method

[2016-01-05 23:31] gingergeeks commented on #60
If I change the underlying load method in the node class just to do the initialise and then free -

      last_time = <time_t>NULL
      errCode = slurm.slurm_load_node(last_time, &new_node_info_ptr, 0)
      slurm.slurm_free_node_info_msg(new_node_info_ptr)

Fire up Python via valgrind and perform the minimal load method when the node class object is created -

Then I still show possibly lost blo

[2016-01-06 01:49] giovtorres commented on #60
I rebuilt a version of python 2.7.5 without pymalloc and with valgrind support.  I'm re-running my tests... i'll let it run overnight to see how much the memory grows. No matter which version of python I use, I seem to always get possibly lost blocks, even if I have a very basic script.

After freeing the hostlist patch [hl.destroy()], the definitely lost and indirectly lost blocks have been 0 con

[2016-02-15 02:17] chilly opened #64 "ctypedef => cdef"
some of your code in slurm.pxd:
like:
"ctypedef enum connection_type:"  // wrong
the code can not be compiled in Cython 0.23 .

[2016-02-15 03:17] giovtorres commented on #64
What version of SLURM do you have? What branch of PySLURM are you trying to build?  What error message do you get when trying to build? I am using Cython 0.23.4 with no errors.

[2016-02-16 01:05] chilly commented on #64
pyslurm is branch  2.6.0  . slurm is  2.6.9 .    I changed setup.py support 2.6.9 to execute  "python setup.py build".

[2016-02-18 00:45] giovtorres commented on #64
I pushed a new branch and fixed the errors you reported in 95911fe6.  Checkout the slurm-2.6.9 branch and try recompiling.

[2016-02-18 01:23] chilly commented on #64
Great work!

[2016-02-18 02:19] #64 closed

[2016-02-23 17:39] giovtorres commented on #60
These have since been addressed in b239161, 54b67eec and e9b1c3d.

[2016-02-23 17:39] #60 closed

[2016-02-23 17:53] gingergeeks commented on #52
Closing this as resolved

[2016-02-23 17:53] #52 closed

[2016-02-23 17:53] #26 closed

[2016-02-23 18:37] giovtorres commented on #57
I'll raise this as a feature request later on, since it appears it can't be done with a simple api call.

[2016-02-23 18:37] #57 closed

[2016-02-23 18:39] gingergeeks commented on #9
SICP is changing in the upcoming Slurm-16.05 release so we will re-evaluate this feature later once it is clear what is needed

[2016-02-23 18:39] #9 closed

[2016-02-23 19:16] gingergeeks commented on #59
We are currently fixing and refactoring the master branch. Once complete we will merge back into 15.08.2 and then create new branches for the later 15.08 versions.

[2016-02-23 19:16] #59 closed

[2016-02-29 15:18] gingergeeks commented on #39
We are cleaning up the API a little ready to branch 16.05 and are looking at a job submission pull request for 2.6.9. This has been open for a year so I will close it for now.

[2016-02-29 15:18] #39 closed

[2016-02-29 18:30] gingergeeks commented on #55
I will close this for now. Giovanni and I have been tracking down issues here and there. We will get to Python3 shortly so it is in plan.

[2016-02-29 18:30] #55 closed

[2016-02-29 18:31] gingergeeks commented on #33
Closing this for now as we plan Python3 and unicode shortly. Remi (EDF) has recently supplied a quick patch so we plan to merge that as well.

[2016-02-29 18:31] #33 closed

[2016-02-29 18:32] gingergeeks commented on #24
Closing this - been open for a while. If it is still issue then please raise a new ticket as we are moving the code base forward to Slurm-16.05

[2016-02-29 18:32] #24 closed

[2016-03-01 08:42] rezib opened #68 "API improvements and discussions?"
I saw the following change in the README:

Are there ongoing discussions about ways to improve PySLURM API? I also saw there were new drafts in the wiki, but found nothing about the API.

What do you think about creating a mailing-list (on sourceforge or so) to discuss about this and sync the development efforts on PySLURM?

[2016-03-01 17:00] gingergeeks commented on #68
Remi,
         Hi there ! There are not really any discussions going on atm other than between Giovanni and myself as we try to clean up the code base a little and track down memory leaks before we start work on 16.08.5. I agree it might make sense to create some sort of mailing list and we are happy to have others help us improve the existing code base.

Mark

[2016-03-01 23:59] giovtorres commented on #68
I created a google group for this: https://groups.google.com/forum/#!forum/pyslurm

Go ahead and sign up.

[2016-03-01 23:59] #68 closed

[2016-07-07 08:14] mstud opened #69 "node().get() breaks on hidden nodes"
Due to the
   if record.name is NULL:
      break
in pyslurm.pyx line 2609+, PySlurm fails to fetch the remaining node data as soon as it encounters a node that is in a hidden partition. A "continue" instead of the "break" would be better.
Alternatively, one could think about changing _ShowFlags to include SHOW_ALL for the node class, so that nodes in hidden partitions will be reported normally an

[2016-07-07 08:18] mstud opened #70 ":q"

[2016-07-07 08:18] #70 closed

[2016-07-07 08:25] mstud opened #71 "job().get() crashes on invalid characters in job scripts"
Since PySlurm seems to include SHOW_DETAIL2 to get the batch script for each job, it throws an exception if it encounters certain characters in one of the users batch scripts, namely in function stringOrNone in slurm.pxd line 56 when it tries to decode the value using utf-8.
My workaround was to change the value.decode('utf-8') in there to a value.decode('utf-8', 'replace').

[2016-07-07 16:49] giovtorres commented on #69
Hi.  Thanks for reporting and troubleshooting.  I'll have a look at this shortly.  Your proposed changes seem quite reasonable.

[2016-07-07 16:59] giovtorres commented on #71
Yes,  I did change it to SHOW_DETAIL2 to get the batch script.  So, you prefer to replace the errors with question marks and not to ignore them?

[2016-07-08 01:23] giovtorres commented on #71
What version of PySlurm and Slurm are you using?  Also, which special characters are you using?

I ran a job with the following sbatch directive on Slurm 15.08.11, Python 2.7, and PySlurm 15.08.8:
[code]

PySlurm reports it as the following in the dictionary output:

[code]

I don't mind making this change, just want to replicate it first.

Thanks,
Giovanni

[2016-07-08 02:03] giovtorres commented on #69
Fixed in d14f816

[2016-07-08 08:18] mstud commented on #71
I'm using PySlurm 15.08.8 with SLURM 15.08.10. Everything is fine as long as the batch script is saved as a UTF-8 file, but some of our users use Windows editors and save their scripts as iso-8859-1. The culprit characters were German umlauts, so an example could be:

#!/bin/bash
# für dich
sleep 1000

(Note the the "ü" in the comment)
Save it as latin-1, and you will get a UnicodeDecodeError exce

[2016-07-08 17:31] giovtorres commented on #69
Let me know if this is OK for you now.  Thanks.

[2016-07-11 08:58] mstud commented on #69
Yes, work's perfectly now. Thanks.

[2016-07-11 08:58] #69 closed

[2016-07-13 23:19] giovtorres commented on #71
Fixed in 509cd68.  Thanks for pointing this out and suggesting the fix.

[2016-07-13 23:19] #71 closed

[2016-08-08 08:11] hillenbrkl opened #72 "Python3 error in job().get()"
I have compiled pyslurm for python3.4 on EL7. When I call jobs = pyslurm.job().get() I get the following error:

Traceback (most recent call last):
  File "./slurm2json", line 187, in <module>
    jobs = pyslurm.job().get()
  File "pyslurm/pyslurm.pyx", line 1934, in pyslurm.pyslurm.job.get (pyslurm/pyslurm.c:27121)
  File "pyslurm/pyslurm.pyx", line 1950, in pyslurm.pyslurm.job.get (pyslurm/pyslu

[2016-08-08 13:15] giovtorres commented on #72
Hi Markus,

Python 3 is not yet fully supported at this time.  We are aiming to have much improved support for Python 3 by the next Slurm release (17.02).

Giovanni

[2016-08-10 15:44] #72 closed

[2016-11-22 00:13] jsalinasintel opened #75 "could not build pyslurm against latest slurm"
I just installed slurm to /usr/local:
-rwxr-xr-x 1 root root 3605314 Nov 21 21:53 /usr/local/bin/sacct
-rwxr-xr-x 1 root root 3921674 Nov 21 21:53 /usr/local/bin/sacctmgr
-rwxr-xr-x 1 root root 3544833 Nov 21 21:53 /usr/local/bin/salloc
-rwxr-xr-x 1 root root 3498011 Nov 21 21:53 /usr/local/bin/sattach
-rwxr-xr-x 1 root root 3565686 Nov 21 21:53 /usr/local/bin/sbatch
-rwxr-xr-x 1 root root 3486240

[2016-11-22 00:18] giovtorres commented on #75
What version of Slurm are you running?  Also, looks like you are running Cython 0.19 and Python 2.7?  How are you invoking `python setup.py build`?  What is the path to slurm.h?  Is it */usr/local/include/slurm*?

[2016-11-22 00:37] giovtorres commented on #75
I just spun up a local Slurm cluster running 16.05.6, Cython 0.19 and Python 2.7 in a clean environment. I compiled slurm with `--prefix=/usr/local` to mimic your setup.  I then cloned pyslurm and ran `python setup.py build --slurm=/usr/local && python setup.py install` as root.  It compiled fine and is working.

Not sure why it is failing.  I'll wait to get more details from you.

[2016-11-22 00:45] jsalinasintel commented on #75
Greetings!  I just downloaded the latest stable slurm today: slurm-16.05.6.   It is installed to /usr/local.
Python: # python --version
Python 2.7.11
And Cython 0.19

I just cloned pyslurm today as well it should be the latest:
[root@soak-40 pyslurm]# setup.py build --slurm=/usr/local
-bash: setup.py: command not found
[root@soak-40 pyslurm]# python setup.py build --slurm=/usr/local
INFO:root:Info

[2016-11-22 01:01] giovtorres commented on #75
I haven't come across this error before.  PySlurm works with Cython 0.19.  Is this CentOS 7?
Is it possible setup.py was edited?  Could you run `git status` in the repo and make sure there are no changes to setup.py?

[2016-11-22 23:48] giovtorres commented on #75
You could also try a newer version of Cython just to be sure, but its hard to say if it will fix this problem.

[2016-11-24 01:17] giovtorres commented on #11
Hi everyone,

I know it has been a while but I wanted to let you know that we are working on wrapping job submit functions and hope to have a decent amount of it wrapped by the time 17.02 is released.  For example:

[code]

This is in the dev-16.05-props branch and will be eventually merged into master.

Giovanni

[2016-11-30 23:06] jsalinasintel commented on #75
# wget https://github.com/PySlurm/pyslurm/archive/master.zip
--2016-11-30 22:55:46--  https://github.com/PySlurm/pyslurm/archive/master.zip
Resolving github.com (github.com)... 192.30.253.112, 192.30.253.113
Connecting to github.com (github.com)|192.30.253.112|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://codeload.github.com/PySlurm/pyslurm/zip/master [foll

[2016-11-30 23:06] jsalinasintel commented on #75
CentOS Linux release 7.2.1511 (Core)
cpe:/o:centos:centos:7

[2016-11-30 23:07] jsalinasintel commented on #75
python-pyudev-0.15-7.el7_2.1.noarch
python-slip-dbus-0.4.0-2.el7.noarch
python-sssdconfig-1.13.0-40.el7_2.12.noarch
python-sss-murmur-1.13.0-40.el7_2.12.x86_64
python-cffi-0.8.6-2.el7.x86_64
python-setuptools-0.9.8-4.el7.noarch
dbus-python-1.1.1-9.el7.x86_64
python-slip-0.4.0-2.el7.noarch
python-iniparse-0.4-9.el7.noarch
python-perf-3.10.0-327.28.3.el7.x86_64
python-pycurl-7.19.0-17.el7.x86_64
pyt

[2016-11-30 23:11] giovtorres commented on #75
Could you try with a newer version of Cython?

[2016-11-30 23:17] jsalinasintel commented on #75
Hmm not sure what this means: # pip install --upgrade Cython
Collecting Cython
  Downloading Cython-0.25.1-cp27-cp27mu-manylinux1_x86_64.whl (6.4MB)
    100% |████████████████████████████████| 6.4MB 147kB/s
Installing collected packages: Cython
  Found existing installation: Cython 0.19
    DEPRECATION: Uninstalling a distutils installed project (Cython) has been deprecated and will be removed in

[2016-11-30 23:21] jsalinasintel commented on #75
maybe I should just install my own python

[2016-11-30 23:24] giovtorres commented on #75
I previously built pyslurm in a Docker container on the same platform as you (CentOS 7, Python 2.7 and Cython 0.19) and couldn't replicate your issue.

I just build a CentOS 7 virtual machine, installed slurm and built PySlurm and still couldn't replicate.  I'm afraid something is amiss on your system.

[2016-11-30 23:27] jsalinasintel commented on #75
I haven't seen anything that would cause me to disagree with you  -- this is a physical host (which I would think would be easier)

[2016-11-30 23:31] giovtorres commented on #75
Here's my history if it helps:

[code]

It's certainly not a production setup, but enough for me to do PySlurm development.

[2016-12-09 01:26] giovtorres commented on #75
any luck?

[2016-12-09 21:39] hpourreza opened #76 "working with SLURM database"
It would be nice to add methods to work with SLURM database. For example, to get list of jobs submitted by a user, or get the core hours used by an account during a period of time.

I currently use `sacct -A account_name -a --starttime=xxx --format=cputimeRaw` to get CPU seconds and divide that by 3600 to get core hours used by an account.

[2016-12-10 18:17] gingergeeks commented on #76
Hi there @hpourreza, we are currently looking at this request so please bear with us.

[2016-12-13 11:16] akhi3030 opened #77 "When slurm is installed in a different location, 'lib64' look up fails"
We have installed slurm in a different location so when I run setup.py something like below:

python setup.py build --slurm=...

My slurm libraries are not present in 'lib' but in 'lib64'.  I found that I had to make the following change to get setup.py to get it to pick it up properly.

diff -u pyslurm-master/setup.py pyslurm-master1/setup.py
--- pyslurm-master/setup.py     2016-12-08 17:20:26.00

[2016-12-13 12:08] giovtorres commented on #77
Thanks for reporting.  What prefix did you use when building Slurm?

[2016-12-13 13:24] akhi3030 commented on #77
Neither.  I was running just "python setup.py build --slurm=...".  I first tried running "python setup.py build".  When that failed to find the slurm installation, the error msg suggested that I specify --slurm.  So I tried "python setup.py build --slurm=...".  That failed so I started inspecting setup.py.

[2016-12-14 01:08] giovtorres commented on #77
In your case, the slurm libraries are not installed in the default lib directory, **[EPREFIX]/lib**.  Therefore, you should not use PySlurm's `--slurm` flag when building.  Instead, use the `--slurm-lib` and `--slurm-inc` build flags together.

For example, if slurm was built like this `./configure --prefix=/usr/local/slurm --libdir=/usr/local/slurm/lib64`, then you would build PySlurm as follows:

[2016-12-14 09:52] akhi3030 commented on #77
Makes sense.  I guess I was confused because the error message did not mention slurm-lib and slurm-inc but just slurm.  However, looking through setup.py, you can easily see that it is possible to set slurm-lib and slurm-inc.

So maybe the error message could be improved slightly.  Otherwise, I think this issue is invalid.

[2016-12-14 13:50] #77 closed

[2016-12-14 22:34] #75 closed

[2016-12-31 09:56] tz-rrze opened #78 "include "sched_nodes" in return value of get_job_ptr()"
get_job_ptr() in pyslurm/pyslurm.pyx currently does not include "sched_nodes[]" in the returned list.
sched_nodes[] is of interest locking at advanced reservations.
Thus, I'd suggest to add the line
`Job_dict[u'sched_nodes'] = slurm.listOrNone(self._record.sched_nodes, ',')`
somewhere in pyslurm/pyslurm.pyx's get_job_ptr() .

[2016-12-31 10:15] tz-rrze commented on #78
perhaps, `slurm.stringOrNone` might even be better for further processing than `slurm.listOrNone`. Anyway, both can easily be converted once the information is available at all.

[2016-12-31 16:05] #78 closed

[2017-05-06 09:24] leezu commented on #11
17.02 has been released by now. Is there any plan to go forward with merging the job submit wrapper functions in master? Thanks for your efforts in creating this software!

[2017-05-08 23:04] giovtorres commented on #11
Hi @leezu, I've made some progress with this, but it's been a while.  I need to create a branch based on 17.02.  I'll try to get to that this week, then you will be able to test out the code.  Thanks!

[2017-05-09 01:59] leezu commented on #11
Thanks for the heads up @giovtorres. My university is using version 14.11.11, I'm not sure if your code relies on any APIs released in more recent versions. If not I'll be happy to help testing.

[2017-05-09 02:01] giovtorres commented on #11
That version is a bit older.  We've mostly been doing development on 16.05 and 17.02, focusing more on the newer versions of Slurm as they come out.  Unfortunately, I don't think we will be backporting any new code into 14.11 versions.

[2017-07-11 18:58] xuhang57 commented on #11
@giovtorres  Wondering how it goes with the job submission :)

[2017-07-13 20:46] giovtorres commented on #11
Hi, sorry for the delay on this.  I did manage to update the development code to 17.02.  However, I haven't done much with the job submission portion just yet.  I would have preferred to switch over to the newer API before and put efforts there when making newer changes, especially a big change such as job submission, in order to avoid duplication.

I'm currently setting up some automated testing,

[2017-07-14 05:23] SuminHan opened #85 "How can I make slurm.conf if I use multiple dockers (not using localhost)"
I've referenced this page: https://github.com/PySlurm/pyslurm/wiki/Testing-PySlurm-with-Docker
And I guess this article is only about the slurm in the localhost.
I want to construct the system where multiple dockers communicate through MPI, so my configuration file of slurm.conf may need some IP address for each docker container, right?
Can you show me some helping materials to configure this envi

[2017-07-14 13:03] giovtorres commented on #85
I setup this container with Slurm precompiled inside so that I can clone the PySlurm repo inside the container, compile/install, and do some basic unit tests.  It was only meant to get access to the Slurm headers and shared libraries.  It was not meant to be a complete Slurm cluster with multiple containers on a Docker network.

I would suggest looking at creating a slurmctld container and a slurm

[2017-07-14 13:19] xuhang57 commented on #11
Thanks, @giovtorres , just curious, have you got a chance to try to test this PR: https://github.com/PySlurm/pyslurm/pull/65?

Although it is based on slurm 2.6, it should be compatible (or minor modifications needed) with slurm 16.05.5 since no much code change on job submission between these two versions.

[2017-07-14 19:01] giovtorres commented on #11
I did a while back.  The C structs have changed some between that version and the current version.  I would have to go through it more closely.

[2017-07-14 19:15] xuhang57 commented on #11
True and new options added I think. I am trying to make it work with 16.05 but I don't know much about C/Cython. So, don't know how it would go. Thanks for your reply and btw, really like your blog post of wrapping `sdiag` with Cython. I just wish `sbatch` would be less complicated 👍

[2017-07-15 15:20] #85 closed

[2017-07-25 20:28] 0xaf1f commented on #11
Looks like someone created a project solely to do slurm job submission within Python: https://github.com/brentp/slurmpy

[2017-07-25 20:48] giovtorres commented on #11
Thanks, though it is using subprocess to call `sbatch` and not through the Slurm API.

[2017-07-25 21:05] xuhang57 commented on #11
I pull this #65 PR and make a few modifications for 16.05. It works for some simple scripts. Haven't tested on other options. But generally, that PR should work.

[2017-07-27 10:17] mstud commented on #11
@0xaf1f: if all you need is job submission/control, I would rather use GC3Pie: https://gc3pie.readthedocs.io/en/master/
It doesn't interface the SLURM API though but just wraps the command line tools afaik.

[2017-07-27 14:14] 0xaf1f commented on #11
@mstud, thanks. We had a user request installation of slurmpy when we already had pyslurm installed, and I found out from this issue that submission isn't handled by pyslurm. I thought I'd point it out here since people commenting here have wanted this functionality for a few years. But GC3Pie does look better. Thanks again.

[2017-08-06 16:02] giovtorres commented on #4
Closing this issue.  PR #87 addresses compatibility issues for py2 and py3.

[2017-08-06 16:02] #4 closed

[2017-08-06 16:05] giovtorres commented on #3
PR #87 added python3 compatibility to PySlurm.  If there are any lingering encoding issues in Python3, please raise a new, specific issue for it.  Thanks.

[2017-08-06 16:05] #3 closed

[2017-08-26 16:33] kmanalo commented on #11
@giovtorres Just indicating another interested user in using PySlurm for Job Submission

[2017-08-26 16:40] giovtorres commented on #11
Thanks @kmanalo.  I hope to focus on this in the coming week.

[2017-09-05 10:43] cclauss opened #90 "Python 3.5 and/or 3.6?"
Why stop at Python 3.4?

[2017-09-05 13:20] giovtorres commented on #90
It was more of a start than a stop.  Ideally, we would like to support Python 3.3+.  Python 3.4 is available through the EPEL 7 repo, so it was the easiest to add into the build/test container.  Now that Python3 compatibility seems to be ok, I'll look at adding other versions of Py3 either by installing from source and using something like Lmod to switch between versions, or using the a third-part

[2017-09-05 15:41] cclauss commented on #90
Python 3.3 goes EOL this month https://docs.python.org/devguide/index.html#branchstatus so I doubt that going back to 3.3 helps.

[2017-09-05 17:24] giovtorres commented on #90
I didn't realize EOL for 3.3 was so close.  3.4+ it is!

[2017-09-13 14:42] #90 closed

[2017-09-18 15:38] dendisuhubdy opened #93 "Compiling on Ubuntu"
After a couple of installing errors, here's some suggestion to complete compilation on Ubuntu 14.04

build slurm 17.02 first
[code]

[code]

it finally works for me

[2017-09-18 15:45] giovtorres commented on #93
Thanks.  The `--slurm` flag is covered in step 3 of the **Installation** section of the README.

[code]

Did you have other issues building PySlurm on Ubuntu?

[2017-09-18 15:49] dendisuhubdy commented on #93
No, not that I know of, but I'm trying to run the examples and it shows up this error of `python: error: s_p_parse_file: unable to status file /u/$USER/.local/etc/slurm.conf: No such file or directory, retrying in 1sec up to 60sec` although I'm in a Slurm environment.

[2017-09-18 17:09] giovtorres commented on #93
Which example script did that message come from?  The error indicates it can't find your local `slurm.conf`.

[2017-09-25 03:21] #93 closed

[2017-10-04 13:33] alexxxxx commented on #11
Hello @giovtorres ,
Very interesting feature that I can't wait to test :) !!! I can see in the branch "job_submit" pretty recent commits. Is this branch currently in a "testable" state?
When do you except to have "beta" release for this feature?
Thanks in advance,
Alex

[2017-10-04 22:09] giovtorres commented on #11
@alexxxxx very soon, hopefully! I've been chipping away at it. I'm working on processing sbatch directives inside the scripts.  Once I have that completed, I'll add some tests and merge it into master.

I think currently the wrap and script s without sbatch directives do work.

[2017-11-14 21:16] JeffreyThiessen opened #97 "Plans to release on PyPi?"
Are there any plans to host pyslurm on pypi.python.org? I would love to be able to install it simply with `pip install pyslurm`.

[2017-11-16 01:50] giovtorres commented on #97
I'll test it on https://test.pypi.org, as I think I need to tweak the `setup.py` to build the package properly.

[2018-01-08 22:08] wilshire461 opened #98 "Update for Slurm 17.11.1"
I ran into some issues building pyslurm for slurm 17.11.1 after adjusting the max version hex in setup.py I got the following

[code]

[2018-01-08 23:16] giovtorres commented on #98
Hi @wilshire461, it looks like your cluster is 17.11.01 but you're on the 17.02.0 PySlurm branch.  Pull in any updates to the repo and switch to the 17.11.0 branch (or master, as they are both even at this point) and try again.

[code]

Thanks.

[2018-01-10 19:16] wilshire461 commented on #98
Thanks @giovtorres, I have however run into some other issues.  When trying to use a script that queried slurm stats using pyslurm.statistics().get() I get the following errors.

`[root@slurm6 ~]# python
Python 2.7.5 (default, Aug  2 2016, 04:20:16)
[GCC 4.8.5 20150623 (Red Hat 4.8.5-4)] on linux2
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call l

[2018-01-10 19:27] giovtorres commented on #98
Could you tell me which version of Slurm, branch of PySlurm and OS version?

[2018-01-10 19:39] wilshire461 commented on #98
Red Hat Enterprise Linux Server release 7.2 (Maipo)
slurm 17.11.1-2
built off the master branch

[2018-01-10 19:55] giovtorres commented on #98
Ah, looks like I'm missed some enum members: https://github.com/SchedMD/slurm/blob/75f0789d0689edca1b6e800ce9724004f1f375b7/src/common/slurm_protocol_defs.h#L264-L271

I'll add them in a bit and push.  Thanks for pointing this out!

[2018-01-10 20:09] giovtorres commented on #98
I added the missing members in 1940541.  Give it a try now.

[2018-01-10 20:56] wilshire461 commented on #98
That fixed the earlier enum members, but I think we are now missing some job_pack enums
[code]
https://github.com/SchedMD/slurm/blob/75f0789d0689edca1b6e800ce9724004f1f375b7/src/common/slurm_protocol_defs.h#L313-L316

[2018-01-10 21:13] giovtorres commented on #98
Ok, I ran `git diff slurm-17-02-9-1 slurm-17-11-1-2 src/common/slurm_protocol_defs.h` to catch anything I missed since upgrading pyslurm support from slurm 17.02 to 17.11.  This file is not directly part of the API and must have been why I missed it.  I'll add it to the list of files to check during updates.

Try again now.

Thanks again.

[2018-01-10 21:18] wilshire461 commented on #98
Great success!

Thank you for the quick turnaround, and of course all the work that has gone into this great module.

[2018-01-10 21:18] #98 closed

[2018-01-15 21:02] giovtorres commented on #97
I lost momentum on this over the holidays.  I made some changes to `setup.py` and uploaded to PyPI: https://pypi.python.org/pypi/pyslurm/17.11.0

Give it a try.

[2018-01-15 21:23] giovtorres commented on #97
Actually, I think this still needs some work.  I removed the package temporarily.

[2018-01-16 23:59] giovtorres commented on #97
https://pypi.python.org/pypi/pyslurm/17.11.0.1

[2018-01-18 17:28] JeffreyThiessen commented on #97
Awesome thanks, I'll give it a test run soon.

[2018-01-23 15:06] JeffreyThiessen commented on #97
It looks to be installing correctly but the system I am using is running an older version of slurm so I can not confirm if it is fully working. There are plans to upgrade the system to a newer version of slurm in the future so I'll be able to test it end-to-end then.

Installing this way through pip allows me to install pyslurm to a non matching slurm version without warning though, so when runnin

[2018-01-23 19:28] giovtorres commented on #97
Unintended consequence.  The binary wheels are convenient because you won't need a compiler when installing.  The downside is that you would have to specify the version of pyslurm that matches your running version of Slurm, i.e. `pip install pyslurm==17.11.0.1` for example.

Looking at the Slurm mailing list, I've gathered that some users will stick to a version of Slurm for some time, while other

[2018-02-12 21:56] rdebroiz commented on #97
Cython can be installed through PyPi. It would be nice IMO to add it as a dependence (rateher than a prerequisite) of pyslurm so it is automatically installed if not found.

[2018-02-14 14:14] sterni1971 opened #101 "Problem getting statistics"
After update I see the following problem

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "pyslurm/pyslurm.pyx", line 4301, in pyslurm.pyslurm.statistics.get (pyslurm/pyslurm.c:54099)
  File "pyslurm/pyslurm.pyx", line 4356, in pyslurm.pyslurm.statistics.get (pyslurm/pyslurm.c:53493)
  File "pyslurm/pyslurm.pyx", line 4611, in pyslurm.pyslurm.statistics.__rpc_num2st

[2018-02-15 02:42] giovtorres commented on #101
Hi @sterni1971, I fell behind one release.  I'm pretty sure there were some updates to the __rpc_num2string dictionary, which is generating that error.  I'm building the latest docker images now and I should have pyslurm updated for 17.11.3 by tomorrow.  Thanks!

[2018-02-15 13:37] giovtorres commented on #101
Ok, update and give it a try now.

[2018-02-15 15:06] rdebroiz opened #102 "Installation of 17.11.0.3 from Pypi fail"
#### Details

* Slurm Version:  17.11.3-2
* Python Version: 3.6
* Cython Version: 0.27.3 / 0.27.2
* PySlurm Branch: 17.11.0.3
* Linux Distribution: CentOS 7

#### Issue

Got error while installing Pyslurm from PyPi:

[code]

[2018-02-15 15:10] rdebroiz commented on #102
I tried to downgrade to Cython 0.27.2 but sttill have the same error. I also have the same error on CentOS 7.

I would be happy to help you, but I am really not familiar with Cython :S

[2018-02-16 01:30] giovtorres commented on #102
Hi @rdebroiz, I don't yet have the pypi packaging working properly.  I'm realizing more changes need to be made to `setup.py`.  For now, you could just install from source with `python setup.py build|install`.

There are several other ways to help that don't include Cython!

- Documentation (docstrings within the code) can be enhanced with examples
- The build process can be optimized further
- Th

[2018-02-17 21:36] giovtorres commented on #102
This is error is fixed now.  Try installing via pip again.  The latest version will be `17.11.0.5`.

[2018-02-17 22:07] giovtorres commented on #97
This is fixed now with 17.11.0.5 on pypi, after making some changes to `setup.py` and adding a `MANIFEST.in.`

[2018-02-22 23:19] giovtorres commented on #102
Hi @rdebroiz , were you able to confirm this is working for you now?

[2018-02-22 23:20] giovtorres commented on #101
Hi @sterni1971 , were you able to confirm this is working now?

[2018-02-25 01:01] giovtorres commented on #101
I'm closing this issue.  Please re-open if it's still not working.

[2018-02-25 01:01] #101 closed

[2018-02-25 01:02] giovtorres commented on #102
I'm closing this issue.  Please re-open if there is still a problem.

[2018-02-25 01:02] #102 closed

[2018-02-26 02:14] giovtorres commented on #97
Closing this for now.  I'll need to add this step into the Travis builds so that they are automated going forward.  Thanks!

[2018-02-26 02:14] #97 closed

[2018-02-27 12:35] sterni1971 commented on #101
sorry for the late reply. everything works again.
thanks for fixing it

[2018-03-06 18:42] wresch opened #104 "awful new slurm GresUsed format breaks pyslurm"
#### Details

* Slurm Version: 17.02.9
* Python Version: 2.6
* Cython Version: 0.26
* PySlurm Branch: 17.02
* Linux Distribution: Centos6

#### Issue

Starting with slurm 17 (https://github.com/SchedMD/slurm/blob/85df676e3945d4464ecfbc501e758670752fece9/NEWS#L1295), GresUsed can now take the format
[code]
which is just awful b/c it overloads the colon and comma inside a nested list.  And unfortuna

[2018-03-07 01:19] giovtorres commented on #104
Yeah, that's not very friendly to parse.  Perhaps we could return it as a string instead of a list.  Remind me, without those file IDs, the pyslurm output is just a list with a single string?

[2018-03-09 16:20] wresch commented on #104
pyslurm returns `slurm.listOrNone(gresstr, ',')`, so a list with one entry per gres type if it did not have that extra stuff. So logically for the gres string
[code]
i think it should return
[code]

or i suppose as you suggest it could just return the string unmodified. not sure how much stuff downstream depends on interpreting that string.

[2018-03-09 16:21] wresch commented on #104
i can create a pull request that will ignore commas inside parens, if you'd like

[2018-03-09 18:39] giovtorres commented on #104
Sure, that would be great @wresch. Thanks!

[2018-04-20 12:57] olahaye74 opened #105 "/usr/bin/python setup.py sdist and /usr/bin/python setup.py bdist_rpm extremely incomplete and wrong."
#### Details

* Slurm Version: slurm-devel-17.11.5-1.el7
* Python Version: python-2.5.7-58.el7
* Cython Version: Cython-0.19-5.el7
* PySlurm Branch: master
* Linux Distribution: CentOS-7 (also on Fedora-27 and maybe CentOS-6)

#### Issues
1/ rpm is incomplete and wrong.
  - %description is way too long and doesn't describe pyslurm (it is the full content of README.rst and has nothing to do with wh

[2018-04-20 22:49] giovtorres commented on #104
@wresch did you manage to put together something for this issue?

[2018-04-20 22:58] wresch commented on #104
This weekend

On Fri, Apr 20, 2018, 6:49 PM Giovanni Torres <notifications@github.com>
wrote:

[2018-04-21 01:32] giovtorres commented on #105
Hi @olahaye74 .  There's a lot going on here.  Let's break it down in chunks.  Most of what you are asking is addressable.  I started with adding the missing files to the tarball and updating the version in the docs.

I need to look at the `bdist_rpm` build for generating the rpm.  It works as is on Python 2.7, but not 2.6 (I didn't try Python 3).  However, it depends on `libslurm` and `libslurmdb

[2018-04-23 07:37] olahaye74 commented on #105
Hi @giovtorres . excellent!
Though, It seems that recursive-include is ignored by sdist and bdist_rpm. (tested on CentOS-7 python-2.7.5 and Fedora-27 python-2.7.14) (from git clone -b rpm https://github.com/PySlurm/pyslurm.git)

To add to your "chunk list": pyton setup.py sdist should include pyslurm.spec in tarball so the rpm can be built using rpmbuild -tb pyslurm-17.11.0.7.tar.gz

[2018-04-23 09:40] olahaye74 commented on #105
Here is a setup.cfg that solves a few issues:
[setup.cfg.txt](https://github.com/PySlurm/pyslurm/files/1937519/setup.cfg.txt)
Note that python-nose dependancy is only for tests it it may be removed as the bdist_rpm seems unable to generate a %check section.
python-sphinx build require is for the doc generation. needs some setup.py tweaking IMHO

[2018-04-23 11:58] olahaye74 commented on #105
To add to your "chunk list": pyton setup.py sdist should include pyslurm.spec in tarball so the rpm can be built using rpmbuild -tb pyslurm-17.11.0.7.tar.gz
I've not yet seen if it's possible to trigger a bdist_rpm --spec-only when doing sdist

[2018-04-23 14:33] olahaye74 commented on #105
1st step dto doc generation (attachment)
[setup.py.build_doc.patch.txt](https://github.com/PySlurm/pyslurm/files/1938669/setup.py.build_doc.patch.txt)

this is inspired from https://stackoverflow.com/questions/28720624/install-sphinx-compilated-doc-from-setup-py
As stated in the end it might be a good idea to add a Custom command for doc creation.
Unfortunately I've never written python code, so I

[2018-04-23 14:46] olahaye74 opened #106 "Can't build man / html / ... any other doc"
#### Details

* Slurm Version: 17.11.5
* Python Version: 2.7.14
* Cython Version: 0.27.3
* PySlurm Branch: rpm
* Linux Distribution: fedora-17

#### Issue
Can't build man / html / ... any other doc

0/ python2-sphinx-1.6.6-1.fc27.noarch is installed
1/ git clone -b rpm https://github.com/PySlurm/pyslurm.git
2/ cd pyslurm/doc
3/ make man # or make html

[localhost doc]$ make man
sphinx-build -b man

[2018-04-24 07:52] olahaye74 commented on #105
python setup.py sdist: Works fine

[2018-04-24 07:55] olahaye74 commented on #105
enhancement to setup.cfg:
- release more compliant with rpm distros: 1 => 1%{?dist}
- Cython >= 0.15 instead of 0.19 to match setup.py
- python-nose commented out as %check section of rpm is not generated, thus tests aren't run, thus python-nose is not required to build rpm.
- Added /test directory to doc so user can have those tests available when rpm is installed
[setup.cfg.enhancements.patch.tx

[2018-04-24 08:01] olahaye74 commented on #105
In distros, python packages are named "python-<pkg_name>" (either deb based distros or rpm based distro do that). For pyslurm, th17.11.0.7e package would be python-pyslurm-17.11.0.7-1.fc27.rpm for fedora or python-pyslurm_17.11.0.7_1.deb if I'm correct
To do so, you can set name="python-pyslurm" in the setup() call. The problem is that it also affects the sdist generated tarball that end as python

[2018-04-24 11:28] giovtorres commented on #106
@olahaye74 You first need to build and install the pyslurm module globally, then you can use sphinx to build the docs.

[2018-04-24 12:51] olahaye74 opened #107 "update debian/ packaging infos."
#### Details

    Slurm Version: slurm-devel-17.11.5-1.el7
    Python Version: python-2.5.7-58.el7
    Cython Version: Cython-0.19-5.el7
    PySlurm Branch: master
    Linux Distribution: CentOS-7 (also on Fedora-27 and maybe CentOS-6)

#### Issue
update debian packaging that is outdated.
A maintained debian dir can be found here:
https://github.com/edf-hpc/python-pyslurm/tree/master/debian
The co

[2018-04-24 13:46] olahaye74 commented on #106
@giovtorres  Can't we provide the library path to sphynx from build-dir?
Can't we have an LD_LIBRARY_PATH set to locally built pyslurm.so?

Or better, remove the doc/Makefile and build the doc from setup.py .
if __name__ == "__main__":
    setup_package()
    # generate documentation
    import sphinx
    import sys
    sys.path.insert(0, "build/lib.linux-x86_64-2.7/pyslurm") # UGLY, need cleaner

[2018-04-24 13:55] olahaye74 opened #108 "Avoid defining version in multiple places"
Avoid defining  version in multiple places (setup.py, pyslurm/__init__.py, doc/source/conf.py, ...)

A good explanation here with example
https://stackoverflow.com/questions/26141851/let-sphinx-use-version-from-setup-py
Multiple techniques explained
https://packaging.python.org/guides/single-sourcing-package-version/

[2018-04-25 06:58] olahaye74 commented on #108
I do my best to help, but as I'm not python programmer, I can't help more unfortunately :-)

[2018-04-25 23:33] giovtorres commented on #108
You can always use a project like this as an opportunity to learn Python/Cython.  The codebase is not large and most of the classes follow the same structure.  I knew zero Cython before and used this project to learn it.  Travis CI offers some comfort and is there to help us contributors catch mistakes and errors before merging to master.

[2018-04-25 23:37] giovtorres commented on #107
Yes, the debian directory is quite old and certainly needs some attention.  In terms of packaging, I'm familiar with RPM but not Deb.  Do you want to give it a try?

[2018-04-25 23:44] giovtorres commented on #106
I couldn't get this to work on my first attempt. I'll give it another try later.

Ideally, I'd like the docs to build and pushed to pyslurm.github.io whenever there is a merge to master.  That happens now, but it doesn't feel very elegant.

[2018-04-27 14:43] olahaye74 commented on #108
sure! but I'm already main developper for SystemImager (alone), OSCAR Cluster (alone) and a few other stufs where I contributed packaging or patches like jobmonarch, ganglia, ... and I must admit I have no time left :-/

[2018-04-27 14:46] olahaye74 commented on #107
I' hate debian packaging eventhough I had to do some for OSCAR Cluster. This system based on old make utility whith fake macros is really horrible to create and maintain.
spec files look so modern compared to debian system :)
If I have time I'll try to do something and submit a patch here. (I have to work on OSCAR debian backaging, so, as pyslurm is part of OSCAR distro, I will certainly work on i

[2018-04-27 20:38] giovtorres commented on #106
Yes, I do agree.  I think in OpenBSD, they consider the lack of a manpage a bug.

I'll look at the man page generation.

[2018-04-27 20:43] giovtorres commented on #107
ok, no problem.  I'll close this for now.  Do submit a PR if you get a chance soon to submit updates to the `debian/` directory.  Thanks!

[2018-04-27 20:43] #107 closed

[2018-05-08 10:50] jaysharm opened #110 "slurmdb_jobs() kills the python process"
#### Details

* Slurm Version: 17.11.3
* Python Version: 3.6.2
* PySlurm Branch: 17.11.0
* Linux Distribution: Red Hat 4.4.7-1

#### Issue

Hi,

Given that jobs drop out of the cache after 300 seconds, I was trying to replicate the functionality of ``sacct -j <jobid>``.  But slurm_db_jobs() kills the python process with the below error?

[code]

[2018-05-08 22:53] giovtorres commented on #110
Hi @jaysharm, I'm able to replicate on python 2 and 3.  I'll have a look.

[2018-05-11 00:18] giovtorres commented on #106
Fixed in PR #112

[2018-05-15 07:15] olahaye74 opened #113 "doc/source/conf.py inconsitent requirements."
needs_sphinx = '1.1'
is inconsistent with:
extensions = [
...
    'sphinx.ext.githubpages'
]

sphinx.ext.githubpages is only available in sphinx V1.4+.
=> Either remove this extension, OR, set need_sphinx = '1.4'

Note: CentOS-7 ships with sphinx V1.1.3 (which is far from V1.4)

[2018-05-15 07:40] olahaye74 opened #114 "/doc/source/conf.py: html_theme = 'classic' does not exists on sphinx V1.1"
html_theme = 'classic' does not exists in sphinx V1.1.3 (CentOS-7 and previous)

Using
html_theme = 'default'
Works fine.
(Tested on CentOS-7)

Note: classic theme appeared in sphinx V1.3
https://github.com/sphinx-doc/sphinx/commit/68021b0bd3174a488b965e7425a39a1add806a75

Available themes for sphinx V1.1.3 (CentOS-7) are listed here: https://github.com/sphinx-doc/sphinx/tree/v1.1.3/sphinx/themes

[2018-05-15 07:59] olahaye74 commented on #105
Please can you update setup.cfg with my above patch?
Aside that, abox fix (branch rpm) seems to work fine.

[2018-05-18 00:10] giovtorres commented on #113
Thanks.  See f5c7fc1 in #114

[2018-05-18 00:10] #113 closed

[2018-05-18 00:53] giovtorres commented on #114
I made the suggested changes. Thanks @olahaye74

[2018-05-18 00:53] #114 closed

[2018-05-18 01:05] giovtorres commented on #106
Hi @olahaye74 , can you confirm man pages are building for you?  It is building locally.  Actually, I hadn't built the man pages before using Sphinx.  This is nice to have.

[2018-05-23 14:34] olahaye74 commented on #106
git clone https://github.com/PySlurm/pyslurm.git
cd pyslurm/
python setup.py build
# man is nout build, doc is not built
cd doc
make man
phinx-build -b man -d build/doctrees   source build/man
Making output directory...
Running Sphinx v1.1.3

Exception occurred:
  File "/tmp/pyslurm/doc/source/conf.py", line 18, in <module>
    from pyslurm import __version__
ImportError: No module named pyslurm
T

[2018-05-23 17:06] olahaye74 commented on #106
Big progress :-)
enhanced setup.cfg that includes [sphinx_build] section
doc/source/conf.py that knows the correct path to build module so it can import pyslurm eventhough it is not yet installed on system. (I think you can do better as I'm not python developper and specifying the hardcoded linux build dir is ugly. I convinced there is a variable for that. I was unable to use the module from the s

[2018-07-02 01:54] chrissamuel commented on #104
HI all,

Just wondered whether anyone was working on this?  We'd like to be able to add more support for GPUs in our job monitor application (linked above) but we're dependent upon this.  Unfortunately I don't speak Python so I'm not able to help out. :-(

All the best,
Chris

[2018-07-02 02:04] giovtorres commented on #104
@chrissamuel Would you mind sending me some samples out the output for `GresUsed`.  I don't have access to a cluster at the moment.  I can write a parser based on the various outputs.  Thanks.

[2018-07-02 02:13] chrissamuel commented on #104
Hi Giovanni,

On 02/07/18 12:04, Giovanni Torres wrote:

Currently we've only got 2 GPU jobs running (usage is only just starting
to ramp up again after the weekend).  They both have:

# scontrol show job -d | fgrep -i GRES_IDX | egrep -v 'GRES_IDX=$'
      Nodes=john85 CPU_IDs=4-11 Mem=40960 GRES_IDX=gpu(IDX:0)
      Nodes=john1 CPU_IDs=15 Mem=8192 GRES_IDX=gpu(IDX:0)

So it's the GRES_IDX we nee

[2018-07-03 00:29] giovtorres commented on #104
I think this issue is different from what you're seeking.  You're looking for the `GRES_IDX` value.  If that's so, could you open another issue for this missing value.

[2018-07-03 00:51] chrissamuel commented on #104
On Tuesday, 3 July 2018 10:27:25 AM AEST Giovanni Torres wrote:

'17.11.0'

--
 Chris Samuel  :  http://www.csamuel.org/  :  Melbourne, VIC

[2018-07-03 00:58] chrissamuel commented on #104
Ah, I see no `GresUsed` in the output of `scontrol show job -d` so I was presuming that this was what you were mapping `GRES_IDX` to.  I've just checked the source and `GresUsed` is the node attribute whilst `GRES_IDX` is the job attribute, hence my confusion.

I have to run now, but I'll open a new issue for that later today.

[2018-07-03 06:55] chrissamuel commented on #104
On Monday, 2 July 2018 12:04:55 PM AEST Giovanni Torres wrote:

Here is what you were after:

# scontrol show node -d | fgrep GresUsed | sort | uniq
   GresUsed=gpu:0,hbm:0
   GresUsed=gpu:p100:0(IDX:N/A),hbm:0
   GresUsed=gpu:p100:1(IDX:0),hbm:0
   GresUsed=gpu:p100:1(IDX:1),hbm:0
   GresUsed=gpu:p100:2(IDX:0-1),hbm:0

The first line will be from our 4 KNL nodes that have no GPUs (the Skylake
nod

[2018-07-03 11:38] chrissamuel opened #116 "Provide a way to access the GRES_IDX attribute for a job"
#### Details

* Slurm Version: 17.11.7
* Python Version: 3.4 (RHEL7)
* Cython Version: ??
* PySlurm Branch: 17.11.0
* Linux Distribution: RHEL7

#### Issue

It would be really useful to us for our job monitoring program to be able to get the `GRES_IDX` information from running jobs so we can highlight the GPU the job is using for our users so they can see how much utilisation it is getting.

Our i

[2018-07-03 12:30] giovtorres commented on #116
Thanks.  I was hoping this one would be easy.  Here is the code that needs to get wrapped: https://github.com/SchedMD/slurm/blob/5073024350eb79c8c5a9964e800bc0ce3ab93d59/src/api/job_info.c#L706-L803.

That may take me some time.

How would you like the output of this attribute, as one string that matches the scontrol output, or a list of strings if there are more than one?

[2018-07-03 22:16] giovtorres commented on #104
@chrissamuel Thanks for these examples.  I've used them as test cases for the regex.

[2018-07-03 22:16] giovtorres commented on #104
Fixed in #117 .   Please reopen if it is still an issue.

/cc @wresch

[2018-07-03 22:16] #104 closed

[2018-07-04 17:11] giovtorres commented on #108
Closing this for now.  I'll handle building/versioning the docs on GitHub separately.

[2018-07-04 17:11] #108 closed

[2018-07-04 17:24] giovtorres commented on #106
Hi @olahaye74, I've been a bit absent, but would like to pick this up again.

Where would the `slurm-devel`, `slurm-slurmd` and `slurm-slurmdbd` packages come from?  Wouldn't this fail if the user doesn't have these packages available in a configured repository?

Are there any official Slurm RPM repos out there that users can leverage?

[2018-07-05 08:07] olahaye74 commented on #106
I maintain the OSCAR Cluster repository here: http://svn.oscar.openclustergroup.org/repos/unstable/
but this hosting is subject to change in the future.
The rpm packages are built suing the simple command: rpmbuild -tb slurm-17.11.6.tar.bz2

[2018-07-09 01:00] giovtorres commented on #106
I added the suggested changes.

[2018-07-09 01:02] giovtorres commented on #105
I merged the requested changes.

[2018-07-12 00:43] chrissamuel commented on #116
Sorry for not spotting this before, I've just passed your query on to the developer!

[2018-07-12 22:14] dooglz opened #120 "Slurm Install path Issues. Ubuntu 18.04"
#### Details

* Slurm Version: 17.11.0.3
* Python Version: Python 2.7.15rc1
* Cython Version:  0.26.1
* PySlurm Branch: 17.11.0
* Linux Distribution: Ubuntu 18.04 - from Ubuntu:bionic docker image

#### Issue
After installing Slurm from the Ubuntu Apt repo  (slurm-client & libslurm-dev)
https://packages.ubuntu.com/hu/bionic/amd64/slurm-client/filelist
https://packages.ubuntu.com/hu/bionic/amd64/li

[2018-07-12 23:16] giovtorres commented on #120
Typically, slurm headers are installed into `/PATH/slurm/slurm.h`, inside a `slurm/` subdirectory.  Let me try to modify the search in `setup.py` such that it will look for `slurm.h` without prepending `slurm/` in front of it.

[2018-07-24 02:59] #106 closed

[2018-07-24 02:59] #105 closed

[2018-07-24 03:04] giovtorres commented on #120
I merged that branch.  Give it a try now.

[2018-08-06 09:00] chrissamuel commented on #116
Got a reply from the developer today, he said:

Hope that helps!
Chris

[2018-08-17 13:47] whowell commented on #11
Hi @giovtorres. I greatly appreciate this work. I noticed commits as of January 2018. Is there any plan to merge this work soon and/or how usable do you estimate the branch to be at this point?

[2018-08-20 06:19] wfarah opened #125 "username as key in the output of pyslurm.job().get()"
#### Details

* Slurm Version: 17.11.7
* Python Version: 2.7.15
* Cython Version: 0.28.3
* PySlurm Branch: 17.11.0.9
* Linux Distribution: CentOS Linux release 7.5.1804 (Core)

#### Issue

Hi,

The job description dictionary contains only 'user_id' as key. There can be multiple users for a given account, so I can't use 'account' key in the particular application that I'm writing. It would be reall

[2018-08-21 03:12] giovtorres commented on #125
I believe I tried this in the past and passing the user_id through the C passwd functions for a site with a large number of users (100s) significantly reduced the performance of the get() method (See a small write up here: https://github.com/PySlurm/pyslurm/wiki/Profiling-PySlurm#using-line_profiler).  I think Slurm might be caching the passwd file for better performance.

You could use python's

[2018-08-21 07:02] wfarah commented on #125
No worries! I think I got myself going with functions from the pwd module. It should be fine from there. I'll close the issue, thanks for your help.

[2018-08-21 07:02] #125 closed

[2018-09-04 12:59] markuskowa opened #126 "Support for slurm 18.08"
#### Details
* Slurm Version: 18.08.0-1
* PySlurm Branch: master
* Linux Distribution: NixOS

#### Issue
Slurm 18.08 was released 5 days ago.  I was trying to update Slurm in NixOS and recognized that PySlurm does not support Slurm 18.08 yet.

[2018-09-08 21:06] giovtorres commented on #126
Update to Slurm 18.08.0 is complete.  Please see the 18.08.0 branch, not master.

[2018-09-09 20:42] #126 closed

[2018-10-08 21:49] wccropper opened #128 "18.08.1 was release October 4th, 2018"
* Slurm Version: 18.08.1

When should we expect to see the pyslurm update?

[2018-10-11 00:19] giovtorres commented on #128
18.08.1 is available now.

[2018-10-11 00:19] #128 closed

[2018-10-25 21:28] wccropper opened #129 "18.08.3 now released"
#### Details
New SLURM releases 18.08.2 and 18.08.3 have been released quickly after 18.08.1.

#### Issue
New tags or releases needed

[2018-10-25 23:13] giovtorres commented on #129
18.08.2 is there.  I'll get 18.08.3 shortly.

[2018-10-27 17:47] giovtorres commented on #129
18.08.3 is now available.

[2018-10-27 17:47] #129 closed

[2018-10-31 19:06] akesandgren opened #130 "There really needs to be a way to use env vars for setting params like SBATCH_xxx"
Just like slurms src/sbatch/opt.c handles env vars before it is calling the API, there should be the same type of handling in pyslurm.
Either using the SBATCH_xxx env vars or pyslurm specific ones.

[2018-11-07 17:38] wccropper opened #131 "pyslurm reporting different memory values since update to 18.08.x"
#### Details
* Slurm Version:18.08.3
* Python Version: 3.6.6
* Cython Version: 0.28.5
* PySlurm Branch: 18.08.3 tag
* Linux Distribution: CentOS 7.5

#### Issue
Pyslurm is reporting the memory requested differently than what it did before. For example; we request 50G of memory for a worker job, which is stored in a string.  When the pipeline looks for worker jobs with the amount of memory allocate

[2018-11-12 03:44] giovtorres commented on #131
Could you share the output of the commands you are running?

[2018-11-12 14:45] viennej commented on #110
Hi,

I am seeing the same thing with Pyslurm 18.0.0 with Slurm 18.08.3.
Do you have an update regarding this issue?

Thanks

[2018-11-12 23:07] giovtorres commented on #110
No.  I tried to track it down, but the slurmdb api is not documented at all, making it difficult to wrap properly.  I managed to get a core dump file.  I had to use a VM and not a container.  The problem lies here: https://github.com/PySlurm/pyslurm/blob/18-08-3/pyslurm/pyslurm.pyx#L5314.  I'll keep looking.

[2018-11-16 02:59] giovtorres commented on #110
@jaysharm apologies for the very long delay.  I think I'm finally starting to understand the slurmdb code.  I pushed 4a7eeda, 429749f, 18a7c65 to `master`, which should fix this.

[2018-11-16 03:02] giovtorres commented on #76
There is now some slurmdb support in `master` and the `18.08.0` branches.  If anything specific or not working there, please open another issue.  Thanks.

[2018-11-16 03:02] #76 closed

[2018-12-03 10:15] martijnkruiten opened #133 "Wrong partition information is returned by get_node()"
#### Details

* Slurm Version: 18.08.3
* Python Version: 2.7.13
* Cython Version: 0.25.2
* PySlurm Branch: 18.08.0
* Linux Distribution: Debian 9

#### Issue
`get_node()` returns wrong partition information, while `get()` does not.

[code]

With `get_node()`, all nodes return 'gpu_sw' as their partition, while that partition only contains one node. With `get()` the correct partition is returned.

[2018-12-03 23:32] giovtorres commented on #133
Hi @martijnkruiten.  I am able to replicate, although I get a different wrong answer.  I'll take a deeper look, as I may need to update the wrapping.

[2018-12-06 03:43] giovtorres commented on #133
@martijnkruiten Could you try this fix when you get a chance?  Thanks.

[2018-12-06 03:59] giovtorres commented on #110
This should be fixed now. Please re-open if you are still having issues.

[2018-12-06 03:59] #110 closed

[2018-12-06 07:56] martijnkruiten commented on #133
Hi @giovtorres, the fix works for me. I get an empty list for nodes without a partition and a complete and correct list for nodes with one or more partitions. Thanks!

[2018-12-06 07:56] #133 closed

[2018-12-08 18:20] giovtorres commented on #131
@wccropper Could you please share the slurm output and pyslurm output for the memory discrepancy you are having so I can replicate it?

[2018-12-12 17:47] chrissamuel commented on #104
Thanks!  Sorry I didn't see this update before now, I've no idea why!

[2018-12-12 17:50] chrissamuel commented on #116
Hi @giovtorres!

Swinburne is on 18.08.x now, but I've since moved to the US for love and for work and am now at NERSC (still doing HPC).  But I'll still see updates here and let them know.

Thanks for this!
Chris

[2018-12-13 01:19] giovtorres commented on #116
The `gres_idx` branch should work with a later version of Cython.  I'll merge it into master soon after I figure out why it is failing on older Cython versions.

[2018-12-14 04:33] chrissamuel commented on #116
Thanks!  Passed that back to them.

[2019-01-26 22:53] fengpinghu opened #136 "access qos failed with undefined symbol error"
#### Details

* Slurm Version:
18.08.4
* Python Version:
2.7.12
* Cython Version:
0.23.4-0ubuntu5
* PySlurm Branch:
18.08.0
* Linux Distribution:
Ubuntu 16.04.3 LTS
#### Issue

access qos failed with undefined symbol error

Type "help", "copyright", "credits" or "license" for more information.

{}

[]

python: symbol lookup error: /usr/lib64/slurm/accounting_storage_slurmdbd.so: undefined symbol:

[2019-02-02 21:50] giovtorres commented on #136
@fengpinghu Could you please re-test with the latest change to the 18.08.0 branch?

[2019-02-03 17:48] #131 closed

[2019-02-08 12:43] martijnkruiten commented on #136
This works for me on Debian 9.6 with Slurm 18.08.5, so I think it can be closed.

[2019-02-09 16:59] giovtorres commented on #136
@martijnkruiten Thanks for verifying.  I also added 0146103 as basic check to catch this in the future.

[2019-02-09 16:59] #136 closed

[2019-02-09 18:21] giovtorres opened #137 "Do not check for MICRO version during build"
#### Details

* Slurm Version: 18.08
* Python Version: any
* Cython Version: any
* PySlurm Branch: 18.08
* Linux Distribution: CentOS 7

#### Issue

The PySlurm build process checks for min and max versions of Slurm, checking all of MAJOR.MINOR.MICRO versions.  However, this check has become unnecessary in the last few Slurm releases.

`setup.py` needs to get updated to compare just the MAJOR.MINO

[2019-02-09 20:58] giovtorres commented on #137
Fixed in d3703f2

[2019-02-09 20:58] #137 closed

[2019-04-10 12:07] marksantcroos commented on #120
This doesn't solve the problem that pyslurm.c also has an `#include "slurm/spank.h"`, does it?

[2019-04-10 12:33] marksantcroos commented on #120
I've opened a ticket upstream too: https://bugs.schedmd.com/show_bug.cgi?id=6827.

[2019-04-10 17:54] giovtorres commented on #120
Looks like PySlurm checks for the slurm header in paths with and without `slurm/` prepended, and I didn't do the same for the shared library.  I'll go ahead and update this.

[2019-04-21 20:47] giovtorres commented on #120
@marksantcroos @dooglz The build step should find the library and header now, even using Ubuntu slurm packages.

[2019-05-17 07:37] JimCircadian opened #139 "pyslurm google group is not open"
#### Details

N/A

#### Issue

The link provided in README for the pyslurm google group is not accessible to the public: https://groups.google.com/forum/#!forum/pyslurm

[2019-05-17 22:11] #120 closed

[2019-05-17 22:13] giovtorres commented on #139
Hi, the group is world readable, but in order to post, you just need to request access to the Google group.

[2019-05-23 09:46] hillenbrkl opened #140 "18.08.7 compatibility"
#### Details

* Slurm Version: 18.08.7
* Python Version:
* Cython Version:
* PySlurm Branch: 18.08
* Linux Distribution: SL7.6

#### Issue

When will an update for SLURM 18.08.7 be available?

[2019-05-24 22:13] giovtorres commented on #139
Hi, the group is world readable, but in order to post, you just need to request access to the Google group.

[2019-05-24 22:13] #139 closed

[2019-05-24 22:18] giovtorres commented on #140
The current 18.08.0 branch should work with Slurm 18.08.7.

[2019-06-07 15:45] JimCircadian commented on #139
This group either doesn't exist, or you don't have permission to access it. If you're sure this group exists, contact the owner of the group and ask them to give you access.

[2019-06-09 16:32] giovtorres commented on #139
Looks like Google updated their default Google Groups permissions.  I updated it accordingly and it should be visible now.  Please let me know if that is not the case.

[2019-06-11 10:19] JimCircadian commented on #139
All good now, thanks!

[2019-08-05 15:42] whowell opened #142 "SLURM 19 compatibility"
#### Details

* Slurm Version: 19.05
* Python Version: 2.7, 3.6
* Cython Version: 0.28.5
* PySlurm Branch:
* Linux Distribution: RHEL 7

#### Issue
Are there any plans or a timeline for SLURM version 19+ compatibility?

[2019-08-06 00:17] giovtorres commented on #142
Plans, yes.  Started working on it yesterday.

[2019-08-08 15:14] whowell commented on #142
Thank you @giovtorres for the update and quick response. I'll close this as it was just a general question.

[2019-08-08 15:14] #142 closed

[2019-08-10 02:21] #140 closed

[2019-09-11 13:51] hawson opened #143 ""jobs_running" and "jobs_pending" fields missing?"
#### Details

* Slurm Version:  19.05.2
* Python Version: 3.6.8
* Cython Version: 0.29.12
* PySlurm Branch: 19.5.0.0
* Linux Distribution: CentOS 7.6.1810

#### Issue

The fields `jobs_running` and `jobs_pending` are not exported.

A simple example on a small cluster with one job running:
[code]

However, these fields are not exported via pyslurm:
[code]

I believe that at least jobs_running worke

[2019-09-14 17:28] giovtorres commented on #143
Can you give it a try now?

[2019-09-26 15:07] hawson commented on #143
Finally got a chance to test this.  The fix appears to work.

[2019-09-26 15:07] #143 closed

[2019-10-08 16:32] BastiRose opened #145 "Add features to reservations"
#### Details

* Slurm Version:
* Python Version:
* Cython Version:
* PySlurm Branch: 19.05.0
* Linux Distribution:

#### Issue
We would like to add to our reservation tool so that it has the ability to set features to a reservation but it seems as if the `features` field in the reservation dictionary is missing.

[2019-11-06 15:37] abrekhov opened #147 "rpmbuild failed. xmalloc not found."
#### Details

* Slurm Version: 19.05.3
* Python Version: 2.7.5
* Cython Version: 0.19
* PySlurm Branch: 19.05.0 release
* Linux Distribution: centos 7.6.1810

#### Issue
I'm trying to make an rpmbuild.
Im going to directory of project.
Then
`python setup.py bdist_rpm`
After that error:
`creating build/temp.linux-x86_64-2.7/pyslurm
gcc -pthread -fno-strict-aliasing -O2 -g -pipe -Wall -Wp,-D_FORTIFY

[2019-11-07 11:11] giovtorres commented on #147
`pyslurm/xmalloc.h` needs to get added to `MANIFEST.in`. Would you mind doing a PR?

[2019-11-16 16:38] #147 closed

[2019-11-29 14:21] nierodal commented on #143
They are missing in 18-08-8 as well

[2019-11-29 15:53] giovtorres commented on #143
@nierodal Added here af3a583

[2019-11-29 16:01] nierodal commented on #143
Thanks!

[2019-12-05 03:26] 0luhancheng0 opened #150 "Make slurmdb_jobs().get take a list usernames as an argument"
#### Details

* Slurm Version:19.05.4
* Python Version:2.7.12
* Cython Version:0.29.14
* PySlurm Branch:19-05-0
* Linux Distribution:centos-7

#### Issue
the get method in slurmdb_jobs take very long time to run.
the following record is generated by cProfile. The function call took 691 seconds to complete.
[code]

While the equivalent sacct only took around 0.2 seconds
[code]
[code]

[2019-12-05 03:28] giovtorres commented on #150
How many jobs do you have?

[2019-12-05 03:29] giovtorres commented on #150
You can also try using [line_profiler](https://github.com/PySlurm/pyslurm/wiki/Profiling-PySlurm) so we can narrow down which lines are the slowest

[2019-12-05 03:34] 0luhancheng0 commented on #150
the sacct returns about 1800 jobs. I think get method in slurmdb_jobs will return all jobs from all users, which might be the reason why it is so slow?
[code]

[2019-12-05 03:37] giovtorres commented on #150
1812 is not that much. I'm curious why. If you can, I'd try the line_profiler suggested above if you don't mind.

[2019-12-05 03:37] 0luhancheng0 commented on #150
OK, the slurmdb_jobs return 700k jobs
[code]

[2019-12-05 08:05] 0luhancheng0 commented on #150
Here is the output from line profiler
[code]

[2019-12-05 12:21] giovtorres commented on #150
Thank you for doing this!

It looks like the DB call here is the culprit:
[code]

The exact same query of 700K+ job records using sacct takes how long?

[2019-12-05 13:11] 0luhancheng0 commented on #150
the command for generating same records should be
[code]
**Sorry that I was using wrong command [in my previous comments](https://github.com/PySlurm/pyslurm/issues/150#issuecomment-561952848) I should have specified -a option which display all users job.**

The command takes
[code]

The sacct does not really provide speedup compare to db call.

I think it would be great if you can make slurmdb_job

[2019-12-06 03:58] 0luhancheng0 opened #151 "TypeError from pyslurm.job().find_user() for python3"
#### Details

* Slurm Version:19.05.4
* Python Version:3.6.2
* Cython Version:0.29.14
* PySlurm Branch:19.05.0
* Linux Distribution:centos7

#### Issue
pyslurm.job().find_user give me type error 'bytes expected'.
After i follow the instructions [here](https://github.com/PySlurm/pyslurm/wiki/Strings-and-bytes-in-Cython). The error message became 'integer required'
The error seems to be only happeni

[2019-12-07 21:44] #151 closed

[2019-12-09 03:55] 0luhancheng0 opened #153 "slurmdb_jobs().get() does not return complete list of jobs"
#### Details

* Slurm Version:19.05.4
* Python Version:3.6.2
* Cython Version:0.29.14
* PySlurm Branch:commit c50467cd84b8b2dfaed45298ae7d81043dae009d
* Linux Distribution:centos7

#### Issue
slurmdb_jobs().get() does not seem to return the complete list of jobs history records.
The following script run both sacct -X and slurmdb_jobs and compare the number of records got.
[code]

[2019-12-13 21:18] pagrubel commented on #11
Is this issue still being worked on?  I tried out "job_submit" and it ignores #SBATCH directives.

[2019-12-13 22:35] giovtorres commented on #11
@pagrubel Not at the moment by me. Would you like to contribute?

[2019-12-13 22:38] pagrubel commented on #11
If I find a solution, but for now I suppose I'll use subprocess with an sbatch command.

[2019-12-14 02:47] 0luhancheng0 commented on #153
any update on this?

[2019-12-18 18:26] treydock opened #154 "slurmdb_jobs().get() returns nothing when sacct returns jobs"
#### Details

* Slurm Version: 19.05.3-2
* Python Version: 2.7
* Cython Version: 0.29.14
* PySlurm Branch: 19-05-0
* Linux Distribution: RHEL 7.7

#### Issue

If I execute `pyslurm.slurmdb_jobs().get()` I get an empty dictionary but the same user running `sacct` gets jobs.

[code]

[code]

Both were run as root on the slurmctld host and also tried from slurmdbd host. The debug logs on slurmdbd sho

[2019-12-22 19:29] lahwaacz opened #155 "Failed to run setup.py test"
#### Details

* Slurm Version: 19.05.4.1
* Python Version: 3.8.0
* Cython Version: 0.29.14
* PySlurm Branch: master
* Linux Distribution: Arch Linux

#### Issue

I'm getting this error when I run `python setup.py test` (after `python setup.py build`):
[code]

[2019-12-22 20:48] giovtorres commented on #155
I don't believe the `test` subcommand to `setup.py` was ever tested or even works. Are you trying to run the test suite?

[2019-12-22 20:53] lahwaacz commented on #155
Well, it's apparently doing something, so I thought it should work... How do you run the test suite?

[2019-12-22 20:55] giovtorres commented on #155
I'll have to look at how to set that up properly. After building/installing, I `cd` out of the directory and run `nosetests -v pyslurm/tests`.

Feel free to contribute and make this process better :smile:

[2019-12-22 21:37] giovtorres commented on #154
Duplicate of #153 . Closing.

[2019-12-22 21:37] #154 closed

[2019-12-23 09:06] lahwaacz commented on #155
Requiring a running Slurm instance for a test suite is another unexpected thing. And it still leads to a segfault:

[code]

[2019-12-23 22:37] giovtorres commented on #155
These were meant to be acceptance tests,  not unit tests.

[2019-12-23 22:56] lahwaacz commented on #155
But they shouldn't segfault in any case...

[2019-12-23 22:57] giovtorres commented on #155
True, although I haven't tested PySlurm with Python 3.8 or on Arch Linux. I'll have to see if I can replicate it locally.

[2020-01-23 21:02] vrindger opened #157 "Does pyslurm support job arrays?"
I can't get it to recognize $SLURM_ARRAY_TASK_ID within the batch script, so I'm wondering if I should keep trying or give up on making job arrays work through the submit_batch_job function in pyslurm.

[2020-01-23 21:03] vrindger commented on #157
I'm using an sbatch file and submitting the job like this:
slurmJob = { "script": slurm_script_path }
slurmJobId = pyslurm.job().submit_batch_job(slurmJob)

[2020-01-23 21:05] vrindger commented on #157
Here's the gist of the SBATCH script file:
#!/bin/bash
#SBATCH --time=1:00:00
#SBATCH --ntasks=1
#SBATCH --array=0-1
mkdir -p  output_run_$SLURM_ARRAY_TASK_ID
run_me --output-dir=output_run_$SLURM_ARRAY_TASK_ID --run=$SLURM_ARRAY_TASK_ID

[2020-01-23 21:07] vrindger commented on #157
/var/spool/slurmd/job02604/slurm_script: line 24: SLURM_ARRAY_TASK_ID: command not found
run_me: error: argument --run: invalid int value: ''

[2020-01-23 21:53] vrindger commented on #157
never mind, please ignore. This was just because I had parentheses around $(SLURM_ARRAY_TASK_ID) and the runs are actually working

[2020-01-23 22:01] vrindger commented on #157
Sorry, never mind, the parenthesis thing fixed it when directly using the sbatch command but not when using pyslurm. When i use pyslurm with the same exact sbatch, it doesn't work, whereas it does with sbatch for a job arrary. Does not look like the $SLURM_ARRAY_TASK_ID thing works through the submit_batch_job script submission?

[2020-01-29 23:07] vrindger commented on #157
bump @giovtorres :)

[2020-01-30 00:19] giovtorres commented on #157
The current implementation of `submit_batch_job` does not parse the SBATCH directives.

[2020-01-30 00:38] giovtorres commented on #157
This part of the code could use some contributions :wink:

[2020-02-04 18:17] vrindger opened #164 "Retrieve completed jobs through the jobs class"
#### Details

* Slurm Version: 18.08.8
* Python Version: 2.7.15
* Cython Version: 0.25+ i think
* PySlurm Branch: 18.08.8
* Linux Distribution: centos

#### Issue
@giovtorres Is there a way to retrieve historical job information from the pyslurm.job class or from pyslurm in general ? The behavior I'm noticing is that as my job array completes or even continues to churn through the array, the jobs

[2020-02-04 18:22] vrindger commented on #164
So right now no jobs are running and this is what I see:

{}

[2020-02-04 21:23] vrindger commented on #164
I tried using slurmdb_job() just now. I'm seeing erratic behavior with it. It seems that I have to exit python, create a new python instance and then get the jobs for it to show the latest jobs. Does this sound familiar? I'm now dropping pyslurm for job tracking and thinking of running sacct in a subprocess command now. If you have a reliable way to get the same information as sacct, please let me

[2020-02-05 01:54] giovtorres commented on #164
I believe the sacct database will have this information. Unfortunately, the slurmdb api is a bit tricky to wrap with Cython. It is not documented and my attempt to ask for examples or documentation was rejected years ago. I was told the code is self documenting. I disagree.

The slurmdb portion of the code definitely needs some work. I'd love some contributions around this part of the API :pray:

[2020-02-05 02:08] vrindger commented on #164
Yes using the sacct command works so I might switch to using the mariadb before going back to pyslurm. That's a good suggestion thanks. I did not get consistent results with slurmdb_job or job. The lack of documentation is very challenging for sure. I might revisit it some day but I don't have much bandwidth for looking into this. Just needed a way to track job array completion in realtime and pri

[2020-02-05 02:52] giovtorres commented on #164
Now that 20.02-pre is out, I will try to finally push out v2 of the PySlurm API, which should hopefully have better support for the DB API and job submission :pray:

[2020-02-05 02:55] vrindger commented on #164
Nice. I see. I'll try to upgrade our slurm here too after that.. From 18 to 20 I guess

[2020-02-05 17:20] vladdoster opened #165 "--format option?"
#### Details

* Slurm Version: Latest
* Python Version: 3.4
* Cython Version: Latest
* PySlurm Branch: Master
* Linux Distribution: Arch

#### Issue
Not an issue, but a question. Is there anyway to pass the --format flag to retrieve certain fields instead of retrieving all fields which would save me having to add extra logic to filter them later.

If not, do we think this is able to be implemented

[2020-02-05 17:54] vladdoster commented on #165
In slurmdb_jobs.get() I see something about flags. Is something I can send the format flag too?

https://github.com/PySlurm/pyslurm/blob/master/pyslurm/pyslurm.pyx#L5381

[2020-02-06 12:17] #164 closed

[2020-02-06 23:38] giovtorres commented on #165
There is not. Instead of passing multiple formatting fields, we should probably set this to `ALL` and just return everything upfront to the user to pick and choose from.

We'd have to figure out the field parsing logic here: https://github.com/SchedMD/slurm/blob/slurm-19-05-5-1/src/sacct/options.c#L1465

Would this approach match your use case?

[2020-02-06 23:46] vladdoster commented on #165
Yes, that would work. So is there somewhere in Pyslurm you all don't set it to ALL? I don't quite understand what moving parts would need to be touched. Ideally in the slurmdb_jobs API method where starttime & endtime are passed I would be able to pass an kwarg named format an array of fields I would like back.

So you're saying we would retrieve all fields and then add the filtering logic to pysl

[2020-02-06 23:47] vladdoster commented on #165
I apologize about me not understanding, I've only been introduced to Slurm for < 2 weeks.

[2020-02-06 23:48] vladdoster commented on #165
But am more than happy to knock it out if I get a better understanding of what needs to be done. I am capable!

[2020-02-08 02:04] giovtorres commented on #165
I'd be happy to get some contributions!

[2020-02-08 02:15] vladdoster commented on #165
I am still not too sure where changes would need to be made in PySlurm?

[2020-02-10 23:55] vladdoster commented on #165
Hi @giovtorres,

I am currently trying to mimic sacct. In the default `sacct` option it displays `alloc_cpu` in the table. In the slurmdb_jobs class it doesnt seem to give me that back in the dict I receive.  Does it pull it or is there somewhere I can pull that from so I can add it to my table?

[2020-02-13 14:11] vladdoster opened #166 "Retrieve batch jobs?"
#### Details

* Slurm Version: 19.05
* Python Version: 3.4
* Cython Version:
* PySlurm Branch: Master
* Linux Distribution: Arch

#### Issue
When retrieving jobs using sacct, it returns the following:
![pic-selected-200213-0905-37](https://user-images.githubusercontent.com/10052309/74443166-bdf45000-4e40-11ea-8c41-4451d76af850.png)

but using pyslurm I just get the jobs and not the batch. Anyway t

[2020-02-14 18:13] vkantchev opened #167 "Return job steps from slurmdb_jobs.get"
Add step info to the job results.

[2020-02-18 02:32] giovtorres commented on #166
I believe the whole integration with the slurm DB API needs to be enhanced to provide the details you are looking for. :disappointed:

[2020-02-19 15:53] vladdoster commented on #166
@giovtorres We have moved to wrapping `sacct` with subprocess module :)

[2020-02-26 09:32] stdweird commented on #155
the original error comes from the fact that running the build step requires passing the "build" on the commandline. if that is not done, the slurm include dir is not set and is passed as `None` to cython, which cython does not handle/like/expect.

we are facing similar issues when adding pyslurm as a depencency to another project. when we run test for that project, the dependency mechanism tries t

[2020-02-28 16:44] #167 closed

[2020-02-28 16:47] vkantchev commented on #166
batch step is returned as a step by pyslurm.slurmdb_jobs().get

See def test_slurmdb_jobs_get_steps(): in:
https://github.com/PySlurm/pyslurm/blob/master/tests/test_slurmdb.py

[2020-02-29 01:23] cahartsell opened #169 "PySlurm ignoring some batch job options"
#### Details

* Slurm Version: 19.5.0
* Python Version: 2.7
* Cython Version: 0.29.15
* PySlurm Branch: 19-05-0
* Linux Distribution: Ubuntu 16.04

#### Issue

PySlurm seems to ignore some valid "sbatch" parameters when submitting a batch job. Example python code:

[code]

Equivalent "sbatch" command line call:

[code]

The sbatch command line call behaves as expected (allocates 8 cores and 1 Turi

[2020-03-04 02:53] giovtorres commented on #169
I think the issue or bug is on L2679: https://github.com/PySlurm/pyslurm/blob/c50467cd84b8b2dfaed45298ae7d81043dae009d/pyslurm/pyslurm.pyx#L2675-L2683

I think this might be carry over from a previous version and no longer works in this 19.05. If you could help me track down what it should be, we should be able to fix it.

[2020-03-09 14:11] hillenbrkl opened #170 "Jobs of hidden partitions not available"
#### Details

* Slurm Version: 19.05.5
* Python Version: 3.6
* Cython Version: 0.19
* PySlurm Branch: 19.05.0
* Linux Distribution: EL7

#### Issue

pyslurm.job().get() does not contain jobs that are submitted to or running in a hidden partition (like scontrol show jobs -a would).

pyslurm.partition().get() on the other side contains all partitions, including the hidden.

It would be reasonable to

[2020-03-10 23:33] bhipple opened #172 "Upgrade to support Slurm 20.02"
https://github.com/SchedMD/slurm/releases
Upstream Slurm has had a 20.02 release and we're interested in upgrading to it in NixPkgs.  What's involved to get `pyslurm` to support the new release?

[2020-03-11 20:45] cahartsell commented on #169
I don't see any obvious problems with the code snippet you posted, and the ```job_desc_msg_t``` datatype defined in both the PySlurm and Slurm repositories still contain the ```desc.min_cpus``` field. I'm not very experienced with Slurm, and I did not dive deep enough to find out if this ```min_cpus``` field is actually used by the Slurm API code or not. One thing I did notice is that ```cpus_per_

[2020-03-13 00:52] giovtorres commented on #172
My test container is broken between 19.05 and 20.02 and I haven't had a chance to troubleshoot :sob:

[2020-03-13 00:53] giovtorres commented on #170
I agree. It would be reasonable. I'd love a contribution for this enhancement :wink:

[2020-03-18 11:00] laurentvm commented on #172
Naive attempt to change only SLURM_VERSION to  "20.02

`
pyslurm/pyslurm.c: In function ‘__pyx_f_7pyslurm_7pyslurm_6config___get’:
pyslurm/pyslurm.c:12144:75: error: ‘slurm_ctl_conf_t’ has no member named ‘acctng_store_job_comment’
     __pyx_t_1 = __Pyx_PyInt_From_uint16_t(__pyx_v_self->__pyx___Config_ptr->acctng_store_job_comment); if (unlikely(!__pyx_t_1)) __PYX_ERR(0, 518, __pyx_L1_error)

[2020-03-19 21:40] bikerdanny commented on #172
I forked the repo (https://github.com/bikerdanny/pyslurm) and did some further changes.
It would be nice if the upgrade process was documented.
Then one could help better.

[2020-03-20 12:33] giovtorres commented on #172
I have a minimal set of notes in the wiki: https://github.com/PySlurm/pyslurm/wiki/Updating-PySlurm-for-New-Slurm-Releases. The `git diff` commands show the differences between the major versions.

All the C structs have to be updated between major versions. You can also look at previous commits that upgrade major releases.

I appreciate any contributions.

[2020-03-20 14:06] bikerdanny commented on #172
Thank you very much!

[2020-03-31 21:51] mick-t commented on #172
What's the best way to help? Create branch of the master branch or off the 19.05.0-v2 branch?

[2020-04-03 01:14] giovtorres commented on #172
Hi @mick-t , for starters, I need Slurm 20.02.0 working inside a test container. This is how I test locally. See this issue: https://groups.google.com/d/topic/slurm-users/GW6P5bHIpGQ/discussion

I have something wrong with my config. I've been using this config for several releases, but it's not working with the latest Slurm.

Have you gotten Slurm working inside a VM or container?

[2020-04-03 02:00] giovtorres commented on #172
With respect to the branches, the easier of the two is to branch off 19.05.0. It is currently in sync with master.

I'd really like to get v2 of the API going. I started but could never finish before a new version of Slurm released. v2 is faster and more Pythonic overall, using objects instead of dictionaries to access values.

If I can get Slurm 20.02.0 working locally, I will likely try to get v

[2020-04-03 02:32] mick-t commented on #172
Hi Giovanni,

I'm not yet running Slurm 20.x and have just starting the process to upgrade my instance at work. I may not have a running instance to test for a while.

Can I get a copy of your container or container definition?  I can see if I can run it and figure out your issues.

[2020-04-03 02:52] giovtorres commented on #172
https://github.com/giovtorres/docker-centos7-slurm

[2020-04-07 08:57] saidst opened #173 "How to set env-var for job"
#### Details

* Slurm Version: 19.05
* Python Version: 3.6.8
* Cython Version: 0.29.16
* PySlurm Branch: master
* Linux Distribution: centos 7

#### Issue

I try to pass a custom env-var to a batch-job like that. It is not populated to the environment of the wrapped commands.

[code]
**What is the syntax to use for the export-key?**

[2020-04-08 10:51] bikerdanny commented on #172
Hello Giovanni,

I checked out your docker-centos7-slurm and build successully the new Slurm version 20.02.1.
docker build --build-arg SLURM_TAG="slurm-20-02-1-1" -t docker-centos7-slurm:20.02.1-1 .
docker run -it --name ernie --hostname ernie docker-centos7-slurm:20.02.1-1 bash
- Initializing database
- Updating MySQL directory permissions
- Starting MariaDB to create Slurm account database
20040

[2020-04-08 11:01] bikerdanny commented on #172
...ok, I want to correct myself, as you wrote correctly in your docker-compose.yml, only a terminal (-t) is needed, so the following command also works for me.
docker run -dt --name ernie --hostname ernie docker-centos7-slurm:20.02.1-1

[2020-04-08 12:37] bikerdanny commented on #172
Do you use tools to generate the pxd file automatically?
https://github.com/cython/cython/wiki/AutoPxd

[2020-04-08 13:42] bikerdanny commented on #172
I first tried autopxd but the saw some errors with the included headers.
Than I switched to autopxd2, which is a fork of autopxd.
The following procedure created automatically a slurm.pxd from slurm.h.
docker run -it --name ernie --hostname ernie docker-centos7-slurm:20.02.1-1 bash
- Initializing database
- Updating MySQL directory permissions
- Starting MariaDB to create Slurm account database
20

[2020-04-09 07:27] XueCangQiuYe opened #174 "How to add nodes to cluster?"
Hi, I have a question about how to add nodes.

If I have a node to join the cluster, as far as I know, I need to modify `slurm.conf` and use `scontrol reconfigure` to enable configure.

Do puslurm have some tools to add nodes to cluster easily ?

[2020-04-11 23:23] giovtorres commented on #174
No. I don't believe the Slurm API offers this capability. I think you can add a node to a partition and then reconfigure, both with PySlurm, but I'm not sure that updating a partition will write the change to slurm.conf. You could give it a try and let us know.

[2020-04-11 23:27] giovtorres commented on #172
Could you try running `sbatch --wrap="sleep 60"`? I got it to compile just fine, but sbatch jobs were stuck in the CF state and would never actually proceed past that.

[2020-04-11 23:27] giovtorres commented on #172
No, haven't heard of it, but looks interesting! :eyes:

[2020-04-13 20:12] bikerdanny commented on #172
You are right, I also could not run the sbatch command.
I saw your post at the Slurm mailing list and found the following in the release note.
[...]
"NOTE: The FastSchedule option has been removed. The FastSchedule=2 functionality
      (used for testing and development) is available as the new
      SlurmdParameters=config_overrides option."
[...]
On the roadmap of Slurm 20.02 they also wrote, th

[2020-04-14 15:40] schluenz commented on #170
in pyslurm.pyx
`self._ShowFlags = slurm.SHOW_DETAIL | slurm.SHOW_DETAIL`

looks like a typo. _Naively_ replacing it by
`self._ShowFlags = slurm.SHOW_DETAIL | slurm.SHOW_ALL`

seems to give me a complete job-list.

[2020-04-14 18:21] bikerdanny commented on #172
After my colleague and I fought against the Slurm scheduler, I had some time to write a short documentation, how I bought PySlurm for Slurm 20.02.
Therefore I forked your repository and did some changes, this is only an idea how it could looks like.
https://github.com/bikerdanny/pyslurm/blob/20.02.1/BUILD.md

I also saw, that you already have another repo which uses many docker container for a Slu

[2020-04-15 00:34] giovtorres commented on #172
Hey, this looks amazing!! Thank you for taking the time to do this. I don't see where the patch files and the template files come from. I ran autopxd2 locally and it didn't produce any patch or .j2 files. Am I missing something?

[2020-04-15 02:50] bikerdanny commented on #172
The following is the content of my slurm.conf.
ClusterName=linux
ControlMachine=controller1
SlurmUser=slurm
SlurmdUser=root
SlurmctldPort=6817
SlurmdPort=6818
AuthType=auth/munge
StateSaveLocation=/var/spool/slurm/slurmctld
SlurmdSpoolDir=/var/spool/slurm/slurmd
SwitchType=switch/none
MpiDefault=none
SlurmctldPidFile=/var/run/slurm/slurmctld.pid
SlurmdPidFile=/var/run/slurm/slurmd.pid
ProctrackTyp

[2020-04-18 19:19] giovtorres commented on #173
Could you try exporting the variable and then submit a test job with `"export_env": "ALL"` instead of `export`?

[2020-04-22 20:04] bikerdanny commented on #172
Hi,

I've done some further changes on my forked PySlurm repository and I have got it to work for Slurm 20.02.
[root@c10 ~]# python3 $(which nosetests) -v pyslurm/tests
Config: Test config().get() return type. ... ok
Config: Test config().key_pairs() function and return type. ... ok
Config: Compare scontrol values to PySlurm values. ... ok
Hostlist: Create new hostlist ... ok
Hostlist: Test create

[2020-05-04 05:41] saidst commented on #173
Thanks for the answer. we stopped using pyslurm for the time-beeing. As we start again, I will check that out.

[2020-05-04 05:41] #173 closed

[2020-05-29 14:42] mick-t commented on #172
I have a dev cluster running 20.02.3 and can test updates/changes to pyslurm.

[2020-06-03 15:29] mick-t commented on #172
Hi,
acullenhms

[2020-06-03 15:31] mick-t commented on #172
Hi,

@acullenhms & I got @bikerdanny's 20.02 branch to build with Slurm 20.02.3 with minimal changes. We're testing it now and I'll let you know if there's any issues or problems.

Thanks
--Mick

[2020-06-04 19:26] acullenhms commented on #172
@giovtorres @mick-t From what I can tell, bikerdanny's 20.02 branch seems to be working fine! Used it as a drop-in replacement for our stat collection dashboards and they started picking up (accurate) stats again from our dev cluster.

We're using it with Python2.7, which seems to output data a little bit differently than it does when run in Python3. So that, and a couple of our configuration sett

[2020-06-08 01:54] giovtorres commented on #172
Hi everyone. Sorry for the absence. It's been quite busy for me the past few months. I'm loving the collaboration here with testing!

@bikerdanny Would you mind doing a PR with your changes to get 20.02 merged in? I was able to verify as well locally a few weeks back, but I haven't found the time to update the test container. That is still on my todo list, unless someone wants to also do a PR ther

[2020-06-08 22:26] mick-t commented on #172
@acullenhms bikerdanny's branch doesn't work for us as it uses Cython 0.19.2 and we only have Cython 0.19 on our Centos 7.7 nodes. I did a PR against @bikerdanny's branch:

https://github.com/bikerdanny/pyslurm/pulls

[2020-06-09 06:28] #174 closed

[2020-06-10 23:26] Obihoernchen commented on #172
@bikerdanny You need to do this using the GitHub web interface.
Just use this [link](https://github.com/PySlurm/pyslurm/compare/master...bikerdanny:20.02.1) and click "**Create pull request**" :)

[2020-06-11 19:58] bikerdanny commented on #172
@Obihoernchen: Thank you very much for your help. I used that link and created the following pull request.
https://github.com/PySlurm/pyslurm/pull/175

[2020-06-16 14:29] #165 closed

[2020-06-16 14:29] #166 closed

[2020-07-18 11:57] sridharcdac opened #176 "Pyslurm build error"
#### Details

* Slurm Version:
* Python Version: 3.6
* Cython Version:0.29.20
* PySlurm Branch:18.8
* Linux Distribution:Ubuntu 20.04

#### Issue

Hi
I am trying to build pyslurm on ubuntu 20.04. Using python 3.6. Getting following error. Any help on this appreciated.

$ sudo python3 setup.py build --slurm-inc=/usr/include/ --slurm-lib=/usr/lib/x86_64-linux-gnu/
INFO:
INFO: Building PySlurm (18.08

[2020-08-05 07:35] staeglis commented on #176
Hi,

I think you have the wrong PySlurm version. Or hasn't it to be equal to the slurm version (Ubuntu 20.04 provides Slurm 19.05)?

I'm trying to build it on Ubuntu 20.04 too:
root@sdbdp:~/pyslurm# python3 setup.py build --slurm-lib=/usr/lib/x86_64-linux-gnu/ --slurm-inc=/usr/include/
INFO:
INFO: Building PySlurm (19.05.0.0)
INFO: ------------------------------
INFO:
INFO: Cython version 0.29.14

[2020-08-12 16:57] staeglis commented on #176
You need the following dependencies
`apt-get --yes --force-yes install libslurm-dev libslurm-perl libslurmdb-perl slurm-wlm-basic-plugins-dev`

You have to adjust the setup.py:
def makeExtension(self, extName):
        """Generate an Extension object from its dotted name"""
        extPath = extName.replace(".", os.path.sep) + ".pyx"
        runtime_library_dirs = [self.slurm_lib, '{0}/slurm'.form

[2021-01-20 15:24] granquet commented on #172
Hello,
We would also be interested in getting pyslurm support for slurm 20.xx :)

Is there any way I can help to resume work on this topic?
I see multiple PRs on the subject, with the latest being https://github.com/PySlurm/pyslurm/pull/180

Thx,
Guillaume.

[2021-03-22 23:33] baobablyh commented on #172
Hi,

Thanks a lot for working on slurm20 support. We are going to upgrade the slurm to 20 soon, wondering when this is going to complete and merge to master?

Thanks!

[2021-03-31 21:30] mynameisdeleted commented on #102
also make sure libslurm-dev is installed to a version matching your pyslurm.c.. I.E. the c structures have the same member variable names.

[2021-05-03 21:28] tazend opened #181 "Add/List/Modify/Delete Users and Accounts in Database"
Hi,

since I haven't seen this yet, I will try to implement the necessary functions to Add/List/Modify/Delete Users and Accounts. Don't know how long this will take, but I'm putting some work into it.

[2021-05-17 06:20] 0luhancheng0 opened #183 "Incorrect req_mem value return by slurmdb_jobs"
#### Details

* Slurm Version:20.02.6
* Python Version:3.8.7
* Cython Version:0.29.23
* PySlurm Branch:42a1f20 (latest commit) on master branch
* Linux Distribution:Centos7

### Issue
req_mem field returned by in slurmdb_jobs() does not reflect the actual value.

[code]

[code]

[2021-05-19 19:55] tazend commented on #183
Yeah I can confirm, I'm also getting this value returned. I had a look at how they do it in **sacct** and there is this code:

[code]
This does the magic, after quickly putting it in and testing it I'll then get the value "4096" when --mem-per-cpu=4G is used.
I see if I can make a pull-request for this.

[2021-05-31 16:11] Flowerfan opened #184 "PySlurm (20.02) Build"
#### Details

* Slurm Version: 20.02.4
* Python Version: 3.6 / 3.7 /3.8
* Cython Version: 0.19.2/ 0.29.23
* PySlurm Branch: Master
* Linux Distribution: Ubuntu 18.04

#### Issue
Hi, I'm trying to build the pyslurm and get the following error. Any help on this.

#######log
INFO:
INFO: Building PySlurm (20.02.0.0)
INFO: ------------------------------
INFO:
INFO: Cython version 0.19.2 installed
INFO:

[2021-05-31 16:19] Flowerfan commented on #184
I removed NO_CONSUME_VAL64 = slurm.NO_CONSUME_VAL64 (line 15) in slurm_defines.pxi and built it sucess.

[2021-05-31 16:19] #184 closed

[2021-06-09 13:53] abrekhov opened #185 "Recursive function in setup script not working: 'scandir' is not defined"
#### Details

* Slurm Version: 19.05.3
* Python Version: 3.6
* Cython Version: 0.29.23
* PySlurm Branch: 19.05
* Linux Distribution: CentOS

#### Issue
[code]
Very strange thing...

[2021-06-15 03:09] 0luhancheng0 commented on #183
Hi @tazend, is there any update regarding the issue? And it would be great if you can make a pull request. Thanks

[2021-06-15 18:21] tazend commented on #183
hi @0luhancheng0 , haven't had much time recently, but I should get it done this week.

[2021-06-17 21:36] ahkumar commented on #172
Hi All,

I would like to test pyslurm but we are currently at 20.11.xx. Hence I would like to add support to it on a branch is there an updated documentation on adding support?

thanks!

[2021-06-26 15:48] #183 closed

[2021-07-25 13:45] 0xstarfox commented on #157
I believe this works but the option name does not match the sbatch command line option like the docs suggest it should. Use "array_inx" instead of "array".

[code]

[2021-10-18 14:51] everner opened #189 "Update to support Slurm 20.11"
When is support for Slurm 20.11 planned? I think there's more urgency now in light of SchedMD's decision to make v19 and previous versions of 20.02 and 20.11 unavailable for download because of the latest security vulnerability.

[code]

https://schedmd.com/archives.php

[2021-10-20 20:21] salotz-sitx opened #190 "Support Build Requirements via PEP 517 / pyproject.toml"
The goal is to have `pip install pyslurm` just work without any preparation. This allows for pyslurm to be put into environment specification files like `requirements.txt` and have environments built in one step, which is useful for CI/CD etc.

Instead of having users install Cython before installing pyslurm, you can specify what the build requirements are (according to PEP 517) in a file `pyproje

[2021-10-29 20:51] salotz-sitx commented on #190
I tried to edit the `setup.py` but it wasn't working so I didn't PR. If you want to see where I was going I can do so.

I think generating the C code is a fine approach as well, I guess its up to you. I'm not sure the details of whether or not the code generation can happen at packaging time or not. If that works it should be the most robust way.

[2021-11-02 18:55] tazend commented on #189
Hi, I think I can give it a go when I have time and prepare a pull request. Means, adjusting the current pyslurm definition file(s) to make it compile with 20.11

[2021-11-06 07:54] samarjeet commented on #189
Would it be possible to support version 21.08 as well?

[2021-11-10 02:39] #189 closed

[2021-11-11 20:32] giovtorres commented on #172
Both [20.02](https://github.com/PySlurm/pyslurm/releases/tag/20-02-5) and [20.11](https://github.com/PySlurm/pyslurm/releases/tag/v20.11.8-1) are now available.

[2021-11-11 21:01] ahkumar commented on #172
Is this support only available with python 3.9?  Ran into issues building with 3.6 hence the question. thanks!

[2021-11-11 21:26] giovtorres commented on #172
@ahkumar could you post the error you are getting. Python3.6 should work.

[2021-11-12 13:41] giovtorres commented on #172
@ahkumar could you open another issue for failing to build with 3.6. Please include steps to reproduce the error. I'll keep this issue closed. Thanks!

[2021-11-12 13:41] #172 closed

[2021-11-15 18:40] tazend opened #202 "Code restructuring/improvements"
Hi,

right now I believe the codebase is a bit unpleasant to maintain and add new stuff to,  since everything is put into one big file that consists of thousands of lines. From my perspective, in order to have a cleaner interface, it would probably be best to put some effort into splitting up that big file into seperate modules where possible. Seperation of concerns (e.g **slurmdbd** stuff is most

[2021-11-15 18:53] tazend commented on #190
I also think that shipping the generated c code could be a big improvement in this case.
Also from the documentation [here](https://cython.readthedocs.io/en/latest/src/userguide/source_files_and_compilation.html#distributing-cython-modules), this is pretty much recommended:

[code]

In addition to the link I sent above, it's also recommended to make usage of cython during install optional (and the

[2021-11-16 01:23] giovtorres commented on #190
Thanks for the link, @tazend. I also discussed this with @gingergeeks a couple days ago and I think we are all in agreement here. We should definitely work towards this. I think it will help us get to a point where a user can just run `pip install pyslurm` and it would install with no dependency on Cython.

I'm also slowly becoming a fan of pyproject.toml. I'd love to see support for this in PySlu

[2021-11-16 01:27] giovtorres commented on #176
@sridharcdac Please reopen if this is still an issue. Thanks!

[2021-11-16 01:27] #176 closed

[2021-11-16 01:35] giovtorres commented on #202
Thank you, @tazend for raising this issue. This is something I have been trying to implement for a few years now and just couldn't get it over the finish line. I run into some wrapping issue and then I get stuck and time just flies :(

My last attempt at this was with the 19.05 release: https://github.com/PySlurm/pyslurm/tree/19.05.0-v2. Have a look at the README and tell me if it is aligned with

[2021-11-16 15:06] tazend commented on #202
Hi @giovtorres ,

very interesting and thanks for the links!

Now, my idea is the following:

The slurm.pxd file should stay as it is right now, having all the slurm definitions in one place. Reasons for that:

- This file isn't really edited often, and it basically just generate once for every major release and that's it.
- Also, having all the slurm definitions in one place definitely helps shar

[2021-11-16 16:05] salotz-sitx commented on #190
Great news, this would help us streamline our deployments out a lot. Once there is a solution for master branch would also like to see it backported to older releases since for us at least we use an older version of SLURM.

I went ahead and made a WIP draft PR #203 . Might be useful, probably isn't though.

[2021-11-16 23:31] giovtorres commented on #202
Great points all around!

- I like, at least for now, keeping the all-in-one `slurm.pxd`, as it will continue to work with autopxd. Autopxd is awesome, as it does so much heavy lifting, and, to your point, tends to not change drastically between major and minor releases.
- Properties can indeed get unwieldy. It's ok for a few properties, but some of these structs are just too large.
- I'm not sure

[2021-11-17 12:17] tazend commented on #202
You are right that overusing the dict type for returns is not the best, and I agree to your points, since so many things like `Job`, `Node`, `Partition`, `Reservation`  ...and what not can very well be their own type having well defined attributes. In the end,  loose module-level methods vs classes is a matter of taste, but I also tend to classes here, since it can make the interface a lot cleaner

[2021-11-21 18:47] #145 closed

[2021-11-21 19:16] gingergeeks opened #204 "Remove CONTRIBUTORS.rst"
Now @giovtorres has referenced contributors via the README.md the CONTRIBUTORS.rst should be removed.

[2021-11-21 19:19] #204 closed

[2021-11-21 19:22] #170 closed

[2021-11-21 19:25] gingergeeks commented on #150
@giovtorres Any movement on this, still required ? It does make sense but I would need to review sacct code.

[2021-11-21 20:02] gingergeeks opened #205 "Remove use of exec from setup.py"
Really should not use exec - warnings from black/flint

[2021-11-21 20:03] #205 closed

[2021-11-21 20:42] gingergeeks opened #206 "Remove deprecated module optparse"
The various lint modules identified that the deprecated module optparse should be replaced for argparse, this was in examples/slurm_node_xml.py

[2021-11-21 20:43] #206 closed

[2021-11-22 15:13] mtwest2718 commented on #202
I am very new to pyslurm but am quite familiar with the [Python API](https://htcondor.readthedocs.io/en/latest/apis/python-bindings/api/htcondor.html) from HTCondor. The individual classes are based on which of the daemons one is interacting with: schedulers, negotiator, collector, master, etc. Also am a fan of the [ClassAd](https://htcondor.readthedocs.io/en/latest/apis/python-bindings/api/classa

[2021-11-25 16:43] giovtorres opened #209 "libslurm.so vs libslurmfull.so"
Should we be now checking for `libslurmfull.so` instead of `libslurm.so`?

https://github.com/PySlurm/pyslurm/blob/6f49056b460b173458ad49b28bd2e089d09d8e19/setup.py#L83

/cc @gingergeeks

[2021-11-25 16:55] gingergeeks commented on #209
@giovtorres Will need to see differences between the two or we could ask SchedMD on the differences.

[2021-11-25 16:56] gingergeeks opened #210 "Add Python-3.10 to support and testing"
Now Python-3.10 is out we really should add Python-3.10 support to this branch before we start the next version

[2021-11-25 17:13] tazend commented on #209
Hi @giovtorres

a quick note on that: pyslurm is already compiled with `libslurmfull.so` from what I know., because `/usr/lib64/slurm` is exactly the path where its located (in the plugin directory). I can also confirm that, because it compiles and runs with symbols that are only available from `libslurmfull.so`. The location of `libslurm.so` is in `/usr/lib64/`.

In terms of the differences, you

[2021-11-26 00:32] giovtorres commented on #209
Interesting. Thank you so much for the link, @tazend ! I recall some time back, I think around 19.x, I had to [switch to using](https://github.com/PySlurm/pyslurm/blob/3187272496b8690a41d5eeb5ab1346fad6653f2e/setup.py#L126) `libslurmfull.so` in order to get access to some functions. Otherwise, I ended up having to re-wrap several functions manually. The aim is to manually wrap as little as possibl

[2021-11-26 01:34] giovtorres commented on #202
Thanks for leaning in here, @mtwest2718 ! We definitely welcome contributions from the HPC community. I left the HPC world a few years ago, and I try my best to keep the project updated with just the Slurm container that I put together for testing, as I no longer have access to a real cluster.

Thanks for sharing those links. I'll have to peek at the design of ClassAd in HTCondor. I agree with you

[2021-11-26 21:06] gingergeeks opened #213 "Remove unicode tag on strings"
Remove the u" tag on strings needed for Python2/Python3 co-existance

[2021-11-26 23:13] tazend commented on #202
Hi,

I put some more work into the `Partition` class [here](https://github.com/tazend/pyslurm/blob/refactor/pyslurm/partition.pyx) as a first example (+ some [helper functions](https://github.com/tazend/pyslurm/blob/refactor/pyslurm/common.pyx)). This basically implements full functionality for partitions, e.g. updating every attribute (almost, still few TODO's). Let me know your thoughts on this.

[2021-11-27 01:14] giovtorres commented on #202
I'm glad you bought up the automatic encoding and decoding. We couldn't take advantage of this in the past because it complicated simultaneous support of Python2 and Python3. Now that we've dropped support for Python2, we can certainly implement this, and also look for other opportunities for enhancements and taking advantage of some of Cython's features that the project has been missing out on.

[2021-11-27 01:17] giovtorres commented on #202
We can also use the Discussions feature for discussing the redesign before creating issues per class.

[2021-11-27 01:18] #213 closed

[2021-11-27 01:36] giovtorres commented on #202
https://github.com/PySlurm/pyslurm/discussions/215

[2021-11-28 14:22] tazend commented on #202
@giovtorres Sounds good! Yeah it doesn't seem like I have permissions to add things there. Would be nice if you can grant me access if possible.

[2021-11-28 15:30] tazend commented on #209
From having a quick look again, I guess the only interesting functions from `libslurmfull` for pyslurm are probably those that convert some sort of string input to a specific `uint` (e.g. convert a debug flag str to it's appropriate integer representation (if I recall correctly, that function is already somewhere in pyslurm.pyx for example)). It shouldn't be a big problem to reimplement these func

[2021-11-28 16:13] giovtorres commented on #202
Try now.

[2021-11-28 19:43] tazend commented on #202
Unfortunately still read-only for me there.

[2021-11-29 17:33] mtwest2718 commented on #202
I am not sure how system(atic) y'all want to be with this refactor, particularly regarding the UX.
- _What do end-users do?_
  - Job actions: create, submit, hold, remove
  - Check the current queue
  - Review history
  - Query system resources
  - Parse log files

[2021-11-29 18:02] mtwest2718 commented on #202
It took me a little bit of searching but [here ](https://github.com/htcondor/BLAH) is a translation layer between different LRMS. Just more libraries doing similar tasks. **ALSO**, some of the folks at the [Open Science Grid](https://opensciencegrid.org/) are interested in this endeavor to make their lives easier, since many machines on the US grid do run Slurm.

[2021-11-30 01:50] giovtorres commented on #202
Try now? 🙏🏼

[2021-12-01 12:37] tazend commented on #202
Unfortunately still can't add there.

[2021-12-07 15:54] mtwest2718 commented on #202
I can now add issues to this project, but still no open to add cards. But that is OK. Does anyone mind if I write up a few **enhancement** issues focusing on broad goals?

[2021-12-08 12:25] mtwest2718 opened #221 "Identifying common interactions"
### Preamble

I grant this is more meta than what @tazend might have originally intended with #202.

From both my reading of the documentation and discussions with users of PySlurm, the existing focus of the library is to support system administrators in their daily tasks. There is support for end-user functionality like job submission in the codebase but it's not prominent in the examples.

So be

[2021-12-08 12:40] mtwest2718 opened #222 "Long term support"
While I would like to see this sort of API as part of the standard Slurm install, that doesn't seem to fit their unixy design philosophy. And currently this seems to be just the personal project of a few individuals.

What vision is there to make this a viable long term production product that would track changes in Slurm that system administrators would be comfortable including as a necessary par

[2021-12-08 12:42] mtwest2718 commented on #190
Does pip & python natively support `.toml` files yet or do you need to install https://pypi.org/project/toml/ first?

[2021-12-08 13:57] salotz-sitx commented on #190
@mtwest2718 AFAIK there is nothing in the standard library. I believe it would need to be the responsibility of the build tool (for which `pyproject.toml` facilitates using different things other than setuptools) or project introspection tool. I think most of them pull in a toml library as a dependency. I've never needed to manually install the toml library for using `pyproject.toml`.

[2021-12-09 11:28] mtwest2718 commented on #190
So I should in principle be able to create a venv and just pip install the toml file without first grabbing any other packages?

[2021-12-09 14:12] salotz-sitx commented on #190
I think you are misunderstanding the purpose of the `pyproject.toml`. Its essentially a standardized version of a package specification. It allows for projects to use different tools for building projects. E.g. you can use [poetry](https://github.com/python-poetry/poetry) instead of setuptools. I think setuptools is the default if you don't specify a different tool.

The purpose of the `pyproject.

[2021-12-13 11:48] tazend opened #224 "Rework Job Retrieval/Submission API"
Branch is [here](https://github.com/PySlurm/pyslurm/tree/dev-rework-22.05)

## Classes

- [x] `Job` class providing read-only access to all possible attributes of jobs (e.g. time of submission)
- [x] `Jobs` class, acting as a custom collection (dict) to retrieve actual job-information, and holds all the `Job` instances which carry the information.
- [x] `JobStep` class providing read-only access t

[2021-12-16 21:53] tazend commented on #224
Hi @giovtorres , I think I'm making some good progress with the job class(es) (job-submission, retrieval, etc..). Would it be possible to maybe create a seperate branch for this refactoring process? Maybe something like **dev-refactor** or just **dev** branch , where I could push the progress? (I think I'm not able to create branches here). I'd really like to bring the project forward in this rega

[2021-12-18 17:39] giovtorres commented on #224
Great to hear the progress! Go ahead and create a branch. You should be able to now.

[2021-12-18 17:49] giovtorres commented on #222
Thank you for raising this issue. A few year back, I reached out to one of the original authors of PySlurm because I was working at an HPC site that used the Slurm scheduler. Over time, I added features to it as well as a build and test system. I haven't been working on HPC clusters for a while and have been depending more on contributors to keep the project up to date.

I feel the project needs t

[2021-12-18 17:55] giovtorres commented on #221
The library is meant to have a 1:1 mapping of the Slurm API, and being able to programmatically access the values from `scontrol` outputs.

With that said, there are some helpful additions that could be added to the library, for example some of the tasks related to submitting jobs like you've mentioned.

What are some of the common tasks you use PySlurm for today?

[2022-01-27 10:54] hokiegeek2 opened #225 "support for slurm 21.8.5"
#### Details

I am looking to use pyslurm and would like to do so with a 21.8.5 slurm cluster. Are there plans for pyslurm to support slurm 21.8.5?

[2022-01-27 13:13] hokiegeek2 opened #226 "pyslurm import error"
#### Details

* Slurm Version: 20.8.11
* Python Version: 3.9.7
* Cython Version: 0.29.24
* PySlurm Branch: main
* Linux Distribution: Ubuntu 18.04

#### Issue

After successfully building (I think)...

![image](https://user-images.githubusercontent.com/10785153/151365477-850c493b-8b6a-4bcc-a820-2b2049bbedd8.png)

...and installing pyslurm (I think)...

![image](https://user-images.githubuserconten

[2022-01-27 13:30] hokiegeek2 commented on #226
Also, when I attempt the pyslurm install from the 20.11.8 branch or tag I get the following version error:

![image](https://user-images.githubusercontent.com/10785153/151368506-82250653-9f4f-4b50-9646-b3ed0ed5b2c1.png)

[2022-02-14 08:58] schluenz commented on #226
pyslurm 20.11.8 install and run works fine for me. I think the "no module named pyslurm.pyslurm" error is simply due to cwd in pyslurm (which contains a folder pyslurm).
[code]

[2022-03-01 13:36] #225 closed

[2022-03-29 16:49] tazend commented on #224
I will continue to work on this again now.

Haven't done anything on this in a while, however last time I already got pretty far with the rework (except a few job-submission parameters that require a bit more extensive input-validation.)

[2022-04-04 19:34] Whitehorse2 opened #234 "list db jobs broken - cannot create accounting_storage context"
#### Details

* Slurm Version: 20.11.8-1
* Python Version: python3.8
* Cython Version:  cython3    0.29.14
* PySlurm Branch:  20.11.8-1
* Linux Distribution: Ubuntu 20.04

#### Issue

Unable to receive accounting storage data with example file [`listdb_jobs.py`](https://github.com/PySlurm/pyslurm/blob/v20.11.8-1/examples/listdb_jobs.py).
[code]

I can retrieve jobs data over `sacct` and `jobs_list

[2022-04-04 20:04] tazend commented on #234
Hi,

this is likely due to a missing call to the `slurm_init()` function. In Slurm 20.11 they introduced this in the C-API, and a call to this function is required before interacting with certain parts of the API (for example, `slurmdbd` related stuff).

It was only introduced here in pyslurm with the upgrade to 21.08 recently. However, we can just backport this functionality for 20.11. I'll see i

[2022-04-06 11:52] Whitehorse2 commented on #234
@tazend
Thanks for looking at the issue. Let me know when the pre release is ready, I would like to test it asap.

[2022-04-06 17:56] tazend commented on #234
Hi @Whitehorse2

I have backported the necessary functions. If you want, you can test it with [this branch here]( https://github.com/PySlurm/pyslurm/tree/slurm-20.11.8)

This Branch also includes a few more commits that came after the initial 20.11.8-1 release (mostly changes related to dropping python2 support)

On my side, fetching slurmdbd jobs now works again with slurm_init(). (slurm_init wil

[2022-04-24 14:16] tazend commented on #224
Made a [new branch here](https://github.com/PySlurm/pyslurm/tree/rework/jobs) with current progress.

[2022-05-31 10:05] liu-shaobo opened #235 "python3-pyslurm dependency of slurm-web-restapi"
hi，all，How to solve this problem
#### Details
* Slurm Version: 19.05.7
* Python Version: python3.6
* Cython Version:  python36-Cython-0.28.6
* PySlurm Branch:  19.05.0
* Linux Distribution: Centos-7.6

#### Issue
[root@node001 pyslurm]# python3.6 setup.py install
/usr/lib/python3.6/site-packages/setuptools/dist.py:398: UserWarning: Normalizing '19.05.0.0' to '19.5.0.0'
  normalized_version,
runnin

[2022-06-01 18:27] tazend commented on #235
Hi,

As far as I am aware, the pyslurm project here does not officially provide any RPMs to install pyslurm (maybe in the future?).
Therefore, I am not sure why python3-pyslurm is a dependency, since the RPM doesn't exist anywhere to my knowledge.

I'd recommend raising an issue at the [slurm-web project](https://github.com/edf-hpc/slurm-web/issues), pointing out that `python3-pyslurm` doesn't rea

[2022-06-20 18:11] bviviano opened #236 "Cython Compile failure on RHEL8 with PySlurm 21.08.4."
#### Details

* Slurm Version: 21.08.8
* Python Version: 3.6.8
* Cython Version: 0.29.30
* PySlurm Branch: Release 21.08.4
* Linux Distribution: RHEL8

#### Issue
I am attempting to build PySlurm from release tar.gz 21.08.4 against Slurm 21.08.8, for use with with Slurm-web 2.4.0, but am getting a cython error on build of pyslurm 21.08.4.  I've created a python virtual environment and installed cy

[2022-06-20 18:58] bviviano commented on #236
If I downgrade to cython 0.19.2 and PySlurm 20.11.8-1 and build against Slurm 20.11.9 I can compile without issue

[code]

If I try and use Cython 0.19.2 with PySlurm 21.08.4, I get a different set of errors then I get with Cython 0.29.30:

[code]

[2022-06-21 12:09] bviviano commented on #236
Updating for anyone else who might have a similar issue.

Looks like my specific issue was Cython version related.  "Latest stable" seems to not be 100% accurate in the install guide. After testing various cython releases between 0.19.x and 0.29.x. I found that after I downgraded to 0.25.2, PySlurm 21.08.4 compiled against Slurm 21.08.8 without issue.

So the following stack works inside a venv:

[2022-07-06 10:32] staeglis opened #237 "Status of Slurm 22.05.x compability"
Hi,

has some tested pylsurm with Slurm 22.05.x already?

Best,
Stefan

[2022-07-06 10:56] tazend commented on #237
Hi @staeglis

Not yet, but I can check to see whats necessary for 22.05 and try to add support for it.

[2022-07-07 18:08] tazend commented on #190
Hi @alanhoyle ,

to get the latest pyslurm version(s) released to PyPi, we'd need to ask @giovtorres on this perhaps (I don't have access to the Account there).

Now, as mentioned in this issue already there are a few things that would probably be benificial to have in advance to that:

1. Finding `libslurm.so` when Slurm is installed in non-standard locations. For example, direct the user to set

[2022-07-11 19:06] alanhoyle commented on #169
I am also having trouble submitting a job with anything other than 1 CPU core

[code]

This results in a job that has 32,000 MB and but only cpu core.

[code]

[2022-07-11 20:06] tazend commented on #237
Working on it now, might have it done by Wednesday, seems that only a few things have to be adjusted.

[2022-07-14 10:33] staeglis commented on #237
Hi @tazend,

thank you very much for the fast progress. I will test it soon after the arrival of Slurm 22.05 in Debian Sid.

[2022-07-20 17:22] tazend commented on #190
Currently working on this and have already done a bit of rework to implement some of the functionality wantedhere to have a smoother install-process (adding `pyproject.toml`, accepting lib-dir and include-dir via env-vars, ...).

Whats left is just to make it so the generated C-code is shipped with the source-dist and Cython-codegen is disabled by defaullt when installing (though we can give an Op

[2022-07-20 17:36] tazend commented on #236
Thanks for the explanations on the problem.

I'd say instead of disabling that feature where a check is perhaps mishandled within cython itself, we just remove Cython as a build dependency (by default, as is also recommended), do the code-generation on our side and ship the c-files with the source (as discussed in #190).

That way everyone would get exactly what was tested on the maintainer side,

[2022-07-20 17:46] da-woods commented on #236
There's pros and cons to that. From a Cython point-of-view it used to be the recommended way of shipping things (you know for sure all your uses are using a known, good version of the c files). The main disadvantage is that you'll probably need to regenerate the C files to support new versions of Python (I imagine you'll be OK from now until the first 3.12 alphas start appearing).

But it's a vali

[2022-07-24 22:56] #190 closed

[2022-07-24 22:56] #209 closed

[2022-07-24 22:56] #236 closed

[2022-07-26 07:39] JonaOtto opened #240 "Wait method for jobs / higher level job API"
Hello pyslurm developers,
I work on an HPC performance tool for my university. We want to enable the tool to dispatch measurement executions of a target code to our cluster, which uses SLURM. Ideally, we want to use pyslurm for this.
What we need is a way to:
1. Dispatch jobs to the cluster: Already possible with `job.submit_batch_job`.
2.  Wait for a job to finish, so that we can examine the resu

[2022-07-26 08:27] tazend commented on #240
Hi @JonaOtto

For the Job API, I'm currently working in #224 to rework the whole API structure a bit, to support more features and to hopefully make it easier to interact with the job interface, i.e supporting more methods like cancel, update, suspend, hold and so on... But there are still some things to do until it's done :)

Anyway, for your specific problem right now with the current codebase:

[2022-07-27 06:44] JonaOtto commented on #240
Hi @tazend,
Thanks for the input! I did not know that `sbatch` can do this. I will think about it, and see what I end up doing. That's either doing it with pyslurm, or given we really need this small fraction of the whole API, we could also just do `sbatch` and using this `--wait` flag I guess. In case I do it in pyslurm, you will get my PR (probably in the next week). In case we decide to use the

[2022-08-06 15:57] tazend commented on #237
Just made a new release for PySlurm:  22.5.0 (to work with any Slurm 22.05.X Version)
(which also includes some more changes to the build-system -> setup.py)

So I think this can be closed.

[2022-08-06 15:57] #237 closed

[2022-08-12 01:40] giovtorres commented on #190
I missed an earlier comment about the latest available version of pyslurm available via pip. This needs to be part of the build system. I was trying to accomplish this with TravisCI but never fully implemented it. Ideally, each merge to the main branch should trigger a version bump and a push to pypi. Perhaps a GitHub Action would work, didn't have those back then.

[2022-08-15 16:52] salotz-sitx commented on #190
Thanks for implementing this. Will make it much easier to add PySlurm as a dependency.

[2022-09-09 17:33] #240 closed

[2022-10-03 11:51] Whitehorse2 opened #244 "missing job field 'comment'"
#### Details

* Slurm Version: 20.11.8-1
* Python Version: 3.8
* Cython Version: 0.29.32
* PySlurm Branch: slurm-20.11.8
* Linux Distribution: ubuntu 20.04

#### Issue
From the pyslurm [job database output](https://github.com/PySlurm/pyslurm/blob/main/examples/listdb_jobs.py), i am missing the 'comment' and tmp disk section.

Why is the data missing and can it be added?

Thanks in advance

[2022-10-04 18:30] tazend commented on #224
Pretty much 90% of the general functionality is now implemented/reworked, though it will still need some bug-fixing probably, polish and fixing some outstanding TODO's.  And need to write tests for this.

[2022-10-06 18:23] tazend commented on #244
Hi @Whitehorse2

just had a look, yeah fetching the comment from the database output just isn't implemented currently. I can check it out on the weekend.

Can you clarify what you mean with "tmp disk"? Maybe you can tell me the exact name of the property you want to retrieve? (by checking with `sacct -e`)

[2022-10-06 18:28] #235 closed

[2022-10-06 18:30] #234 closed

[2022-10-10 14:27] Whitehorse2 commented on #244
@tazend : Thank you, could you integrate this value at branch `slurm-20.11.8` ?
I mean the `MIN_TMP_DISK` value, visible at `squeue`, but I could not find it at `sacct`.

[2022-10-10 18:08] tazend commented on #244
Hi @Whitehorse2

I have added a "comment" field in the slurmdb jobs output in the branch you mentioned (https://github.com/PySlurm/pyslurm/commit/b3cc3656318221a8bfdcc8224a8e1b9293411298)

In regards to the `MIN_TMP_DISK` - for Jobs fetched from the database this information isn't available.

But for jobs which are still running/pending, you can use `job().get()` and then the field is called `pn_m

[2022-11-25 13:31] davidoskky opened #245 "Job submission time limit"
#### Details

* Slurm Version:21.08.2
* Python Version:3.9.9
* Cython Version:0.29.32
* PySlurm Branch:21.08
* Linux Distribution:Custom

#### Issue
I'm unable to run any job through pyslurm on the cluster where I work, I believe this is connected with setting the time limit of the job.
In my cluster jobs without a time limit are rejected automatically with this message: `sbatch: error: Batch job

[2022-11-26 23:28] tazend commented on #245
Hi @davidoskky

Well, just had a look at the current code. Turns out it lacks some error handling...
Options like "time_limit" (and many others) currently only accept raw integer values. So when you want to set the time_limit to 1 hour, you need to specify the time in minutes - so in this case 60.

If you specify anything other than an integer, it will raise a TypeError (detected by cython interna

[2022-11-28 08:12] davidoskky commented on #245
Thank you very much, I was able to make it work using the number of minutes.
Thank you for the great work you're conducting on this wonderful project.

[2022-11-28 15:04] martijnkruiten opened #246 "`bdist_rpm` doesn't work because `pyslurm.pyx` isn't included in the source file"
#### Details

* Slurm Version: 22.05.6
* Python Version: 3.6
* Cython Version: 0.29.6
* PySlurm Branch: v22.05.0
* Linux Distribution: Rocky Linux 8.9

#### Issue

`python3 setup.py bdist_rpm` doesn't build and package `pyslurm.cpython-*.so`, which is fixed by manually including `pyslurm/pyslurm.pyx` in the source file (`pyslurm-<version>.tar.bz2`) and building the RPMs with `rpmbuild` directly. I

[2022-11-28 18:12] mperryatos opened #247 "sbatch options support"
* Slurm Version: 22.05
* Python Version: 3.6
* Cython Version: 0.29.32
* PySlurm Branch: Latest
* Linux Distribution: RHEL7.2

Is there a list of sbatch options supported in the latest version of Pyslurm, for Slurm version 22.05? I am particularly interested in the option --gres. This option does not appear to be supported. If that is correct, is support for --gres planned for a future version? Th

[2022-11-28 18:45] tazend commented on #247
Hi @mperryatos

I think the list of options from the documentation could still be accurate, because mostly during the last major updates the code was just ported to work with the newest version, but rarely new sbatch options were added (if there were any to be added)

The actual list of options could be found in the code itself: https://github.com/PySlurm/pyslurm/blob/main/pyslurm/pyslurm.pyx#L234

[2022-11-28 18:55] mperryatos commented on #247
Thanks for the quick response. It sounds like tres_per_node will do what I need. I'll try it out.

[2022-11-28 20:50] tazend commented on #246
Hi,

alright, I can take a look at it and try to get a fix going.